<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EBAH ERP | Admin</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../../css/admin/main.css">
    <link rel="stylesheet" href="../../css/admin/header.css">
    <link rel="stylesheet" href="../../css/admin/responsive.css">
    <script src="../../js/admin/dashboard.module.js"></script>

</head>

<body>
    <%- include('../partials/admin.header.ejs') %>
        <!-- ASIDE SECTION  -->
        <!-- MAIN SECTION STARTS HERE  -->
        <main class="main">
            <!------------- DATA-OVERALL-------------  -->
            <div class="main-data flex">
                <!-- -------TOTAL PROJECTS--------- -->
                <div class="total-data flex data">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="users-alt" class="svg">
                        <path fill="##000000"
                            d="M12.3,12.22A4.92,4.92,0,0,0,14,8.5a5,5,0,0,0-10,0,4.92,4.92,0,0,0,1.7,3.72A8,8,0,0,0,1,19.5a1,1,0,0,0,2,0,6,6,0,0,1,12,0,1,1,0,0,0,2,0A8,8,0,0,0,12.3,12.22ZM9,11.5a3,3,0,1,1,3-3A3,3,0,0,1,9,11.5Zm9.74.32A5,5,0,0,0,15,3.5a1,1,0,0,0,0,2,3,3,0,0,1,3,3,3,3,0,0,1-1.5,2.59,1,1,0,0,0-.5.84,1,1,0,0,0,.45.86l.39.26.13.07a7,7,0,0,1,4,6.38,1,1,0,0,0,2,0A9,9,0,0,0,18.74,11.82Z">
                        </path>
                    </svg>
                    <div class="total_user_data">
                        <p class="size">100</p>
                        <p class="text">Total Projects</p>
                    </div>
                </div>
                <!-- ---------------cOMPLETED PROJECTS ------------ -->
                <div class="in_progress-data flex data">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="users-alt" class="svg">
                        <path fill="##000000"
                            d="M12.3,12.22A4.92,4.92,0,0,0,14,8.5a5,5,0,0,0-10,0,4.92,4.92,0,0,0,1.7,3.72A8,8,0,0,0,1,19.5a1,1,0,0,0,2,0,6,6,0,0,1,12,0,1,1,0,0,0,2,0A8,8,0,0,0,12.3,12.22ZM9,11.5a3,3,0,1,1,3-3A3,3,0,0,1,9,11.5Zm9.74.32A5,5,0,0,0,15,3.5a1,1,0,0,0,0,2,3,3,0,0,1,3,3,3,3,0,0,1-1.5,2.59,1,1,0,0,0-.5.84,1,1,0,0,0,.45.86l.39.26.13.07a7,7,0,0,1,4,6.38,1,1,0,0,0,2,0A9,9,0,0,0,18.74,11.82Z">
                        </path>
                    </svg>
                    <div class="total_user_data">
                        <p class="size">100</p>
                        <p class="text">Completed</p>
                    </div>
                </div>
                <!-- ---------IN PROGRESS----------- -->
                <div class="not_start-data flex data">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="users-alt" class="svg">
                        <path fill="##000000"
                            d="M12.3,12.22A4.92,4.92,0,0,0,14,8.5a5,5,0,0,0-10,0,4.92,4.92,0,0,0,1.7,3.72A8,8,0,0,0,1,19.5a1,1,0,0,0,2,0,6,6,0,0,1,12,0,1,1,0,0,0,2,0A8,8,0,0,0,12.3,12.22ZM9,11.5a3,3,0,1,1,3-3A3,3,0,0,1,9,11.5Zm9.74.32A5,5,0,0,0,15,3.5a1,1,0,0,0,0,2,3,3,0,0,1,3,3,3,3,0,0,1-1.5,2.59,1,1,0,0,0-.5.84,1,1,0,0,0,.45.86l.39.26.13.07a7,7,0,0,1,4,6.38,1,1,0,0,0,2,0A9,9,0,0,0,18.74,11.82Z">
                        </path>
                    </svg>
                    <div class="total_user_data">
                        <p class="size">100</p>
                        <p class="text">In Progress</p>
                    </div>
                </div>
            </div>
            <!-- ---------Information Container----------- -->
            <!-- <div class="misContainer">
                <h4 class="uppercase">Miscellaneous Project</h4>
            </div> -->

            <!-- ----------- DATA TABLE----------- -->
            <div class="data-info box">
                <!-- headings -->
                <div class="info-head grid">
                    <p class="uppercase phead none">Ref. No.</p>
                    <p class="uppercase phead none">CLIENT</p>
                    <p class="uppercase phead none">name of the project</p>
                    <p class="uppercase phead none">deadline</p>
                    <p class="uppercase phead none">status</p>
                    <!-- ------resposnive class------- -->
                    <p class="responsive uppercase phead hide block">project details</p>
                </div>
                <!-- ----------project information----------- -->
                <div class="info-content">
                    <!-- --------1st project---------  -->
                    <div class="accordion-content">
                        <div class="ahead grid">
                            <p class="ref">
                                <span class="uppercase hide block phead">Ref. No.</span>
                                <span>1</span>
                            </p>
                            <p class="cli none">Sri Anand Mishra</p>
                            <p class="pro">
                                <span class="uppercase hide block phead">name of work</span>
                                <span>Business Landing Project in Development & Training</span>
                            </p>
                            <p class="emp_date">
                                <span class="uppercase hide block phead">Deadline</span>
                                <span>12/06/26</span>
                            </p>
                            <p class="stat flex red">In-Progress</p>
                            <p class="arrow-down">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="angle-double-down"
                                    class="svg">
                                    <path fill="##000000"
                                        d="M11.29,11.46a1,1,0,0,0,1.42,0l3-3A1,1,0,1,0,14.29,7L12,9.34,9.71,7A1,1,0,1,0,8.29,8.46Zm3,1.08L12,14.84l-2.29-2.3A1,1,0,0,0,8.29,14l3,3a1,1,0,0,0,1.42,0l3-3a1,1,0,0,0-1.42-1.42Z">
                                    </path>
                                </svg>
                            </p>
                        </div>
                        <!-- ----------open data for accordion---------- -->
                        <div class="adata">
                            <div class="oth-info grid none">
                                <p></p>
                                <p class="contact">
                                    <span class="uppercase phead">contact No</span>
                                    <span class="contact_no">+91 6002649802</span>
                                </p>
                                <p class="e-mail">
                                    <span class="uppercase phead">email</span>
                                    <span class="g-mail">ebah@gmail.com</span>
                                </p>
                                <p class="agreement">
                                    <span class="uppercase phead">Agreement Amount</span>
                                    <span class="amount">&#8377;500000</span>
                                </p>
                                <p class="address">
                                    <span class="uppercase phead">address</span>
                                    <span class="add_info">B.M. Road, Fauzdaripatty, Nagaon, Assam</span>
                                </p>
                                <p></p>
                            </div>
                            <div class="project_expand grid">
                                <p class="none"></p>
                                <!-- ARCHITECTURE  -->
                                <div class="architecture badge">
                                    <div class="arrow">
                                        <p class="uppercase phead">Status</p>
                                        <div class="task-emp-status">
                                            <div class="main-btns flex">
                                                <select data-taskstatus="" class="status-dropdown-menu common_dropdown" name="status" id="">
                                                    <option value="Not Started">Not started</option>
                                                    <option value="On Progress">On Progress</option>
                                                    <option value="Completed">Completed</option>
                                                </select>
                                                <!-- <button class="" onclick="empPopup()">Employee</button> -->
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- <div class="sub-tasks sbox">
                                        <div class="assign-to">
                                            <div class="eaccordion flex">
                                                <p class="uppercase phead">assigned to</p>
                                                <span class="right-arr">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="angle-double-right" class="svg"><path fill="##000000" d="M8.46,8.29A1,1,0,1,0,7,9.71L9.34,12,7,14.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l3-3a1,1,0,0,0,0-1.42Zm8.5,3-3-3a1,1,0,0,0-1.42,1.42L14.84,12l-2.3,2.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l3-3A1,1,0,0,0,17,11.29Z"></path></svg>
                                                </span>
                                            </div>
                                            <ul class="emp-acc-data">
                                                <li class="add-empl">Sri Venkataraman Venugopal Iyer</li>
                                                <li class="add-empl">Sri Venkataraman Venugopal Iyer</li>
                                            </ul>
                                            <button class="" onclick="empPopup()">Employee</button>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="architecture badge">
                                    <!-- <div class="arrow">
                                        <p class="uppercase phead">Employee</p>
                                        <div class="task-emp-status">
                                            <div class="main-btns flex">
                                                <select data-taskstatus="" class="status-dropdown-menu common_dropdown" name="status" id="">
                                                    <option value="Not Started">Not started</option>
                                                    <option value="On Progress">On Progress</option>
                                                    <option value="Completed">Completed</option>
                                                </select>
                                                <button class="" onclick="empPopup()">Employee</button>
                                            </div>
                                            
                                        </div>
                                    </div> -->
                                    <div class="sub-tasks sbox">
                                        <div class="assign-to">
                                            <div class="eaccordion flex">
                                                <p class="uppercase phead">assigned to</p>
                                                <span class="right-arr">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="angle-double-right" class="svg"><path fill="##000000" d="M8.46,8.29A1,1,0,1,0,7,9.71L9.34,12,7,14.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l3-3a1,1,0,0,0,0-1.42Zm8.5,3-3-3a1,1,0,0,0-1.42,1.42L14.84,12l-2.3,2.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l3-3A1,1,0,0,0,17,11.29Z"></path></svg>
                                                </span>
                                            </div>
                                            <ul class="emp-acc-data">
                                                <li class="add-empl">Sri Venkataraman Venugopal Iyer</li>
                                                <li class="add-empl">Sri Venkataraman Venugopal Iyer</li>
                                            </ul>
                                            <button class="" onclick="empPopup()">Employee</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="main-dropdown hide">
                        <div class="emp-drop-menu common_dropdown">
                            <ul>
                                <li>
                                    <input type="checkbox" name="employee">
                                    <span>Anand Kumar</span>
                                </li>
                                <li>
                                    <input type="checkbox" name="employee">
                                    <span>Vishal Langthasa</span>
                                </li>
                                <li>
                                    <input type="checkbox" name="employee">
                                    <span>Gaurav Mukherjee</span>
                                </li>
                            </ul>
                            <button class="uppercase">update</button>
                        </div>
                    </div>
                    <!-- ------------------------------ -->
                </div>

                <!-- ----------PAGINATION--------- -->
                <div class="info_pagination">
                    <div class="pages">
                        <ul>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="angle-double-left"
                                    class="svg">
                                    <path fill="##000000"
                                        d="M11.46,8.29a1,1,0,0,0-1.42,0l-3,3a1,1,0,0,0,0,1.42l3,3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42L9.16,12l2.3-2.29A1,1,0,0,0,11.46,8.29ZM14.66,12,17,9.71a1,1,0,0,0-1.42-1.42l-3,3a1,1,0,0,0,0,1.42l3,3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42Z">
                                    </path>
                                </svg>
                            </li>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>...</li>
                            <li>10</li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="angle-double-right"
                                    class="svg">
                                    <path fill="##000000"
                                        d="M8.46,8.29A1,1,0,1,0,7,9.71L9.34,12,7,14.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l3-3a1,1,0,0,0,0-1.42Zm8.5,3-3-3a1,1,0,0,0-1.42,1.42L14.84,12l-2.3,2.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l3-3A1,1,0,0,0,17,11.29Z">
                                    </path>
                                </svg>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </main>
    </section>


    <!-- JAVASCRIPT -->
    <script src="../../js/admin/header.js"></script>
    <script src="../../js/admin/dashboard.render.js"></script>
    <script src="../../js/admin/dashboard.js"></script>
    <script src="../../js/admin/common.js"></script>
</body>

</html>