<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EBAH ERP | Admin</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../../css/admin/header.css">
    <link rel="stylesheet" href="../../css/admin/responsive.css">
    <link rel="stylesheet" href="../../css/admin/form.css">

</head>

<body>
    <%- include('../partials/admin.header.ejs') %> 
        <!-- MAIN SECTION STARTS HERE  -->
        <main class="main" data-app-page="form">
            <div class="fcontainer">
                <!-- -----------NEW PROJECT------------ -->
                <div class="form-header">
                    <h4 class="uppercase" id="p-name">Normal Project</h4>
                    <div class="head-btns flex">
                        <button class="uppercase green" onclick="toggleForm('normalForm', this)" id="Normal Project">default</button>
                        <button class="uppercase" onclick="toggleForm('misForm', this)" id="Misc Project">miscellaneous</button>
                    </div>
                </div>
                <div class="formContainer">
                    <div class="normalForm" id="normalForm">
                        <form action="/admin/projects-create" method="post">
                            <h4 class="uppercase">contact details</h4>
                            <div class="fgrid">
                                <div class="field">
                                    <label for="name">Name</label>
                                    <input type="text" name="name" id="name" placeholder="e.g.: Pragyan Tamuli">
                                </div>
                                <div class="field">
                                    <label for="cnumber">Phone Number</label>
                                    <input type="text" name="contactNo" id="cnumber" placeholder="e.g.: 9874561230">
                                </div>
                                <div class="field">
                                    <label for="email">Email</label>
                                    <input type="text" name="email" id="email" placeholder="e.g.: ebah@gmail.com">
                                </div>
                            </div>
                            <div class="field">
                                <label for="address">Address</label>
                                <textarea name="city" id="address"></textarea>
                            </div>
                            <!-- ----------------------------------------------------------- -->
                            <h4 class="uppercase">project details</h4>
                            <div class="fgrid">
                                <div class="field">
                                    <label for="ref">Reference No</label>
                                    <input type="text" name="rfNo" id="ref">
                                </div>
                                <div class="field">
                                    <label for="workName">Name of The Project</label>
                                    <input type="text" name="workName" id="workName">
                                </div>
                                <div class="field">
                                    <label for="projectWork">Work Type</label>
                                    <div class="ldflex">
                                        <div class="type">
                                            <input type="checkbox" name="task" id="arch" value="1">
                                            <span>Architecture</span>
                                        </div>
                                        <div class="type">
                                            <input type="checkbox" name="task" id="arch" value="2">
                                            <span>Structural</span>
                                        </div>
                                        <div class="type">
                                            <input type="checkbox" name="task" id="three" value="3">
                                            <span>3D</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="amount">Total Amount</label>
                                    <input type="text" name="TotalAm" id="amount" placeholder="&#8377;">
                                </div>
                                <div class="field">
                                    <label for="amount">Agreement Amount</label>
                                    <input type="text" name="agreementAm" id="amount" placeholder="&#8377;">
                                </div>
                                <div class="field">
                                    <label for="splitRatio">Amount Split Ratio</label>
                                    <select name="split" id="splitRatio">
                                        <option value="4:4:2">4:4:2</option>
                                        <option value="4:2:4">4:2:4</option>
                                        <option value="6:2:2">6:2:2</option>
                                    </select>
                                </div>
                            </div>
                            <!-- ---------- grid ends--------- -->
                            <div class="field">
                                <button type="submit" class="uppercase">submit</button>
                                <!-- <input type="submit" name="submit" id="" value="submit"> -->
                            </div>
                        </form>
                    </div>
                    <!-- miscellaneous FORM  -->
                    <div class="misForm hide" id="misForm">
                        <form action="/admin/misc-project-create" method="post">
                            <h4><span class="uppercase">contact details</span>  (Misc)</h4>
                            <div class="fgrid">
                                <div class="field">
                                    <label for="name">Name</label>
                                    <input type="text" name="name" id="name" placeholder="e.g.: Pragyan Tamuli">
                                </div>
                                <div class="field">
                                    <label for="cnumber">Phone Number</label>
                                    <input type="text" name="contactNo" id="cnumber" placeholder="e.g.: 9874561230">
                                </div>
                                <div class="field">
                                    <label for="email">Email</label>
                                    <input type="text" name="email" id="email" placeholder="e.g.: ebah@gmail.com">
                                </div>
                            </div>
                            <div class="field">
                                <label for="address">Address</label>
                                <textarea name="city" id="address"></textarea>
                            </div>
                            <!-- ----------------------------------------------------------- -->
                            <h4><span class="uppercase">project details</span> (Misc)</h4>
                            <div class="fgrid">
                                <div class="field">
                                    <label for="ref">Reference No</label>
                                    <input type="text" name="rfNo" id="ref">
                                </div>
                                <div class="field">
                                    <label for="workName">Name of The Project</label>
                                    <input type="text" name="workName" id="workName">
                                </div>
                                <div class="field">
                                    <label for="amount">Total Amount</label>
                                    <input type="text" name="TotalAm" id="amount" placeholder="&#8377;">
                                </div>
                                <div class="field">
                                    <label for="amount">Agreement Amount</label>
                                    <input type="text" name="agreementAm" id="amount" placeholder="&#8377;">
                                </div>
                                <div class="field">
                                    <label for="miswork">Types Of Work</label>
                                    <select name="task" id="splitRatio">
                                        <% results?.forEach((val)=>{ %>
                                            <option value="<%= val.msub_task_id %>"><%= val.msub_task_name %></option>
                                        <% }) %>
                                        <!-- <option value="1">Planning</option>
                                        <option value="2">Structural</option>
                                        <option value="3">3D(Exterior)</option>
                                        <option value="4">Plumbing</option>
                                        <option value="5">Electricity</option>
                                        <option value="6">Master Plan</option>
                                        <option value="7">Furniture Layout</option>
                                        <option value="8">Survey</option>
                                        <option value="9">Soil Test</option>
                                        <option value="10">Interior(3D)</option>
                                        <option value="11">Estimate</option>
                                        <option value="12">Landscaping</option>
                                        <option value="13">3D Walkthrough</option>
                                        <option value="14">Art & Craft</option>
                                        <option value="15">Supervision</option> -->
                                    </select>
                                </div>
                            </div>
                            <!-- ---------- grid ends--------- -->
                            <div class="field">
                                <button type="submit" class="uppercase">submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </section>


    <!-- JAVASCRIPT -->
    <!-- <script src="/static/js/main.js"></script> -->
    <script src="/js/admin/form.js"></script>
    <script src="/js/admin/header.js"></script>
</body>

</html>