<div class="info_pagination">
    <div class="pages">
        <ul>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="angle-double-left"
                    class="svg">
                    <path fill="##000000"
                        d="M11.46,8.29a1,1,0,0,0-1.42,0l-3,3a1,1,0,0,0,0,1.42l3,3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42L9.16,12l2.3-2.29A1,1,0,0,0,11.46,8.29ZM14.66,12,17,9.71a1,1,0,0,0-1.42-1.42l-3,3a1,1,0,0,0,0,1.42l3,3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42Z">
                    </path>
                </svg>
            </li>
            <li>1</li>
            <li id="way-1" class="pagin" style="display:none">...</li>
            <li id="2num">2</li>
            <li id="f-box" onclick="paginationFun(this)" >3</li>
            <li id="m-box" class="pagin" onclick="paginationFun(this)" style="display:none">4</li>
            <li id="l-box" class="pagin" onclick="paginationFun(this)" style="display:none">5</li>
            <li>...</li>
            <li id="last-box">50</li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="angle-double-right"
                    class="svg">
                    <path fill="##000000"
                        d="M8.46,8.29A1,1,0,1,0,7,9.71L9.34,12,7,14.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l3-3a1,1,0,0,0,0-1.42Zm8.5,3-3-3a1,1,0,0,0-1.42,1.42L14.84,12l-2.3,2.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l3-3A1,1,0,0,0,17,11.29Z">
                    </path>
                </svg>
            </li>
        </ul>
    </div>
</div>