<div class="section-popup hide">
    <div class="notification-popup">
        <div class="notification-inner">
            <h2>Notifications</h2>
            <button type="button" class="delete close" onclick="hideNotificationPopup()">Close</button>
            <div class="notification-type flex align-center">
                <p class="title active">All</p>
                <p class="title">Finance</p>
            </div>
            <div class="notification-column">
                <div class="all-notifications">
                    <p class="notification-alert flex align-center">
                        <span class="text">
                            Project has been completed
                        </span>
                        <span class="delete">Delete</span>
                    </p>
                </div>
                <div class="finance-notifications">

                </div>
            </div>
        </div>
    </div>
</div>