<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form action="/auth-employee" method="post">
        <input type="text" name="Username" id="">
        <input type="text" name="Password" id="">
        <input type="submit" name="send" id="" placeholder="SUbmit">
    </form>
</body>

</html>