@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --accent-50: hsl(45, 100%, 96%);
  --accent-100: hsl(44, 100%, 89%);
  --accent-200: hsl(44, 100%, 77%);
  --accent-300: hsl(42, 100%, 65%);
  --accent-400: hsl(39, 100%, 56%);
  --accent-500: hsl(34, 95%, 50%);
  --accent-600: hsl(28, 98%, 44%);
  --accent-700: hsl(22, 94%, 37%);
  --accent-800: hsl(19, 86%, 31%);
  --accent-900: hsl(18, 81%, 26%);
  --accent-950: hsl(17, 94%, 14%);

  --light-accent-50: hsla(45, 100%, 96%, 0.5);
  --light-accent-100: hsla(44, 100%, 89%, 0.3);
  --light-accent-150: hsla(44, 100%, 89%, 0.5);
  --light-accent-200: hsla(44, 100%, 77%, 0.5);
  --light-accent-300: hsla(42, 100%, 65%, 0.5);
  --light-accent-400: hsla(39, 100%, 56%, 0.5);
  --light-accent-500: hsla(34, 95%, 50%, 0.5);
  --light-accent-600: hsla(28, 98%, 44%, 0.5);
  --light-accent-700: hsla(22, 94%, 37%, 0.5);
  --light-accent-800: hsla(19, 86%, 31%, 0.5);
  --light-accent-900: hsla(18, 81%, 26%, 0.5);
  --light-accent-950: hsla(17, 94%, 14%, 0.5);

  --search-background: rgb(255, 255, 254);
  --search-outline: rgb(238, 237, 232);
  --body-background: rgb(246, 246, 246);

  --primary-50: hsl(51, 15%, 97%);
  --primary-100: hsl(51, 15%, 92%);
  --primary-200: hsl(51, 15%, 89%);
  --primary-300: hsl(51, 15%, 82%);
  --primary-400: hsl(51, 15%, 75%);
  --primary-500: hsl(51, 15%, 65%);
  --primary-600: hsl(51, 15%, 50%);
  --primary-700: hsl(51, 15%, 40%);
  --primary-800: hsl(51, 15%, 22%);
  --primary-900: hsl(51, 15%, 12%);

  --light-primary-50: hsla(51, 15%, 97%, 0.3);
  --light-primary-100: hsla(51, 15%, 92%, 0.5);
  --light-primary-200: hsla(51, 15%, 89%, 0.5);
  --light-primary-300: hsla(51, 15%, 82%, 0.5);
  --light-primary-400: hsla(51, 15%, 75%, 0.5);
  --light-primary-500: hsla(51, 15%, 65%, 0.5);
  --light-primary-600: hsla(51, 15%, 50%, 0.5);
  --light-primary-700: hsla(51, 15%, 40%, 0.5);
  --light-primary-800: hsla(51, 15%, 22%, 0.5);
  --light-primary-900: hsla(51, 15%, 12%, 0.5);

  --success: hsl(160, 100%, 34%);
  --success-outline: hsla(160, 100%, 34%, 0.2);
  --success-light: hsl(154, 61%, 90%);
  --success-bg: hsl(160, 100%, 95%);
  --success-bg-hover: hsl(160, 100%, 90%);

  --warning: hsl(0, 100%, 45%);
  --warning-outline: hsla(0, 100%, 45%, 0.1);
  --warning: hsl(0, 100%, 50%);
  --warning-bg: hsl(0, 100%, 95%);
  --warning-bg-hover: hsl(0, 100%, 90%);

  --mainPopupbg: rgba(0, 0, 0, 0.4);
  --sectionPopupbg: rgba(0, 0, 0, 0.3);

  --gradient-1: linear-gradient(
    60deg,
    var(--accent-500),
    var(--accent-700),
    var(--accent-900)
  );
  --gradient-2: linear-gradient(
    90deg,
    var(--accent-500),
    var(--accent-700),
    var(--accent-900)
  );
  --btn-color: #fff;
  --f-size-10: 10px;
  --f-size-12: 12px;
  --f-size-13: 13px;
  --f-size-14: 14px;
  --f-size-15: 15px;
  --f-size-16: 16px;
  --f-size-18: 18px;
  --f-size-24: 24px;
  --f-size-28: 28px;
  --f-size-30: 30px;
  --f-size-42: 42px;

  --f-weight-400: 400;
  --f-weight-500: 500;
  --f-weight-600: 600;

  --radius-circle: 50%;

  --px-5: 5px;
  --px-6: 6px;
  --px-7: 7px;
  --px-8: 8px;
  --px-10: 10px;
  --px-15: 15px;
  --px-18: 18px;
  --px-20: 20px;
  --px-22: 22px;
  --px-25: 25px;
  --px-30: 30px;
  --px-35: 35px;

  --rem-half: 0.5rem;
  --rem-1: 1rem;
  --rem-one-half: 1.5rem;
  --rem-2: 2rem;
  --rem-4: 4rem;
  --rem-6: 6rem;

  --icon-box-shadow: #fff 0 1px 0 inset, hsla(215, 15%, 89%, 0.4) 0 -1px 0 inset,
    hsla(215, 15%, 89%, 0.5) 0 1px 2px 0;
  --nav-box-shadow: hsla(51, 100%, 60%, 0.5) 0 1px 0 inset,
    hsla(51, 100%, 30%, 0.4) 0 -1px 0 1px inset,
    hsla(45, 10%, 4%, 0.1) 0 2px 4px 0;
  --search-box-shadow: rgb(255, 255, 255) 0px 1px 0px inset,
    rgba(232, 234, 238, 0.4) 0px -1px 0px inset,
    rgba(223, 226, 231, 0.5) 0px 1px 2px 0px;
  --box-shadow-1: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;

  --transition-1: all 300ms ease;
  --transition-2: all 300ms ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

*::before,
*::after {
  box-sizing: inherit;
}

body,
html {
  width: 100%;
  height: 100%;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background: var(--accent-100);
  transition: var(--transition-1);
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--accent-200);
}

*::-webkit-scrollbar-track {
  cursor: pointer;
  background: var(--accent-300);
  transition: var(--transition-1);
}

*::-webkit-scrollbar-track:hover {
  background: var(--accent-500);
}

body {
  background: var(--body-background);
}

*::selection {
  /* background: var(--accent-950);
    color: var(--accent-50); */
  user-select: none;
  -webkit-user-select: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  cursor: pointer;
}

button,
svg,
img,
input,
select {
  cursor: pointer;
  border: none;
  outline: none;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

:is(select, button) {
  background: var(--accent-100);
  border: 1px solid var(--accent-200);
  color: var(--accent-900);
  border-radius: var(--px-6);
  font-weight: var(--f-weight-500);
  transition: var(--transition-1);
}

:is(select, button):is(:hover, :focus) {
  background: var(--light-accent-300);
  border: 1px solid var(--accent-300);
  color: var(--accent-900);
}

select:is(:focus, :hover) option {
  background: var(--light-accent-300);
  border: 1px solid var(--accent-300);
  color: var(--accent-900);
}

input:is([type="checkbox"], [type="radio"]) {
  accent-color: var(--accent-900);
  color: var(--accent-50);
}

.uppercase {
  text-transform: uppercase;
}

.hide {
  display: none;
}
.show {
  display: block !important;
}

.flex {
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.j-center {
  justify-content: center;
}

.j-between {
  justify-content: space-between;
}

.j-end {
  justify-content: end;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.grid {
  display: grid;
}

section {
  width: 100%;
  min-height: 100vh;
  position: relative;
  /* display: flex; */
}
.click-effect {
  cursor: pointer;
  transition: all 0.1s ease; /* This makes the effect smooth */
}
.click-effect:active {
  opacity: 0.7;
  transform: translateY(2px); /* Moves the button down slightly */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Optional shadow effect */
}
#loading-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background: var(--mainPopupbg);
}
#loader {
  width: 200px;
  height: 6px;
  border-radius: var(--px-6);
  position: absolute;
  background: linear-gradient(
    45deg,
    var(--accent-500),
    var(--accent-700),
    var(--accent-900)
  );
  left: -0%;
  animation: load 2s linear infinite;
}
@keyframes load {
  0% {
    left: 0;
  }
  100% {
    left: 85%;
  }
}
aside {
  position: fixed;
  max-width: 250px;
  width: 100%;
  height: 100%;
  border-right: 1px solid var(--light-primary-400);
}

.logo-header {
  height: var(--rem-4);
  border-bottom: 1px solid var(--light-primary-400);
  padding: 0 var(--rem-1);
}

span.icon,
span.info {
  background: transparent;
  width: var(--px-35);
  height: var(--px-35);
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-circle);
  border: 1px solid var(--light-primary-400);
  transition: var(--transition-1);
  line-height: 1;
  cursor: pointer;
}

:is(span.icon, span.info):is(:hover, .active) {
  background: var(--accent-100);
  border: 1px solid var(--accent-200);
}

span.icon svg {
  width: var(--px-22);
  height: var(--px-22);
  fill: var(--primary-900);
  transition: var(--transition-1);
}

span.icon:is(:hover, .active) svg {
  fill: var(--accent-900);
}

#logo {
  width: 75px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  border-radius: var(--radius-circle);
}

nav {
  position: relative;
  overflow-y: scroll;
  height: 80vh;
  padding: 0 var(--rem-1);
}

.nav-title {
  font-size: var(--f-size-12);
  font-weight: var(--f-weight-500);
  padding-top: var(--px-8);
  display: inline-block;
  color: var(--primary-500);
}

:is(nav) ul li {
  margin-top: var(--px-8);
  margin-bottom: var(--px-8);
  position: relative;
}

nav ul li > a,
.log-out a {
  font-size: var(--f-size-14);
  padding: var(--px-8);
  color: var(--primary-900);
  font-weight: var(--f-weight-500);
  border-radius: var(--px-8);
  gap: var(--px-6);
  transition: var(--transition-1);
  border: 1px solid var(--light-primary-50);
}

nav ul li > a:is(:hover, .active),
.log-out a:is(:hover, .active) {
  color: var(--accent-700);
  background: var(--light-accent-150);
  border: 1px solid var(--accent-100);
}

nav ul li a svg,
.log-out a svg {
  fill: var(--primary-700);
  width: var(--px-22);
  height: var(--px-22);
  transition: var(--transition-1);
}

nav ul li a:is(:hover, .active) svg,
.log-out a:is(:hover, .active) svg {
  fill: var(--accent-500);
}

hr {
  border: 1px solid var(--light-primary-400);
}

.log-out {
  cursor: pointer;
  padding: var(--rem-1);
  border-top: 1px solid var(--light-primary-400);
}

.searchIcon {
  display: none;
  margin-left: var(--rem-1);
}

.searchIcon span.icon svg {
  width: 18px;
  height: 18px;
  fill: var(--primary-800);
}

.search,
.searchBox {
  max-width: 450px;
  width: 100%;
  border: 1px solid var(--light-primary-400);
  border-radius: var(--px-8);
  cursor: pointer;
  background: var(--search-background);
}

:is(.search, .searchBox) svg {
  width: 18px;
  height: 18px;
  margin-left: var(--px-10);
  margin-right: var(--px-10);
  fill: var(--primary-800);
}

:is(.search, .searchBox) input {
  width: 100%;
  padding: var(--px-8) var(--px-10);
  border-left: 1px solid var(--light-primary-400);
  border-right: 1px solid var(--light-primary-400);
  font-size: var(--f-size-14);
  font-weight: var(--f-weight-500);
  color: var(--primary-900);
  background: transparent;
  transition: var(--transition-1);
}

:is(.search, .searchBox) input:is(:hover, :focus) {
  background: var(--light-primary-100);
}

.notification {
  position: absolute;
  right: var(--rem-1);
}

.notification #notification-count {
  display: none;
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: var(--ter-dark-color);
  color: var(--white);
  border-radius: 50%;
  padding: 4px 6px;
  font-size: 12px;
}
.section-popup {
  position: fixed;
  top: 0;
  right: 0;
  background: var(--sectionPopupbg);
  width: 100%;
  height: 100vh;
  z-index: 50;
  overflow-y: scroll;
}
.notification-popup {
  width: 100%;
  max-width: 450px;
  margin: var(--px-15);
  position: absolute;
  right: 0;
  border-radius: var(--px-6);
  background: var(--body-background);
  border: 1px solid var(--light-primary-400);
  z-index: 10;
}
button.delete {
  background: var(--warning-bg);
  border: 1px solid var(--warning-outline);
  color: var(--warning);
}

button.delete:hover {
  background: var(--warning-bg-hover);
}
button.success {
  background: var(--success-bg);
  border: 1px solid var(--success-outline);
  color: var(--success);
}

button.success:hover {
  background: var(--success-bg-hover);
}
.notification-inner {
  width: 100%;
  position: relative;
}
.notification-inner h2 {
  text-align: center;
  color: var(--accent-900);
  padding-top: var(--rem-1);
}
.notification-popup button {
  padding: var(--px-5) var(--px-10);
}
.notification-popup button.close {
  position: absolute;
  top: var(--px-18);
  right: var(--px-18);
}
.notification-type {
  padding-top: var(--px-10);
  padding-left: var(--rem-1);
  gap: var(--px-8);
  border-bottom: 1px solid var(--light-primary-400);
}
.notification-type p.title {
  font-size: var(--f-size-16);
  font-weight: var(--f-weight-500);
  color: var(--primary-900);
  border-bottom: 3px solid var(--primary-50);
  cursor: pointer;
  transition: var(--transition-1);
}
.notification-type p.active {
  color: var(--accent-900);
  border-bottom: 3px solid var(--accent-500);
}
.notification-column {
  height: 80vh;
  overflow-y: scroll;
}
:is(.all-notifications, .finance-notifications) p {
  font-size: var(--f-size-14);
  padding: var(--px-10) var(--px-15);
  gap: var(--px-10);
  background: var(--search-background);
  border-bottom: 1px solid var(--light-primary-400);
}
:is(.all-notifications, .finance-notifications) p span.text {
  display: inline-block;
  word-break: break-all;
  width: 100%;
  padding: var(--px-5);
  font-size: var(--f-size-14);
  border-right: 1px solid var(--light-primary-400);
  color: var(--primary-900);
}
:is(.all-notifications, .finance-notifications) p span.delete {
  display: inline-block;
  padding: var(--px-5);
  border-radius: var(--px-6);
  font-size: var(--f-size-12);
  text-align: center;
}
span.delete {
  background: var(--warning-bg);
  border: 1px solid var(--warning-outline);
  color: var(--warning);
  cursor: pointer;
}
span.delete:hover {
  background: var(--warning-bg-hover);
  border: 1px solid var(--warning-outline);
}

span.delete:hover svg {
  fill: var(--warning);
}
.theme-toggler {
  position: absolute;
  right: var(--rem-4);
  border: 1px solid var(--light-primary-400);
  border-radius: 20px;
}

span.theme-icon {
  width: var(--px-35);
  height: var(--px-35);
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-circle);
  transition: var(--transition-1);
}

span.theme-icon:is(.active) {
  background: var(--accent-100);
  border: 1px solid var(--accent-200);
}

span.theme-icon svg {
  width: var(--px-22);
  height: var(--px-22);
  fill: var(--primary-800);
  transition: var(--transition-1);
}

span.theme-icon:is(.active) svg {
  fill: var(--accent-800);
}
/* DASHBOARD */

.main-section {
  padding: var(--rem-1);
}
:is(.main-heading, .heading) p.title {
  font-size: var(--f-size-14);
  font-weight: var(--f-weight-400);
  color: var(--primary-600);
}
:is(.analytic-btn) select {
  padding: var(--px-5) var(--px-10);
  background: var(--search-background);
  color: var(--primary-900);
  border-color: var(--light-primary-300);
  border-radius: var(--px-10);
}

.analytic-btn select:is(:hover, :focus) {
  background: var(--primary-900);
  color: var(--primary-100);
  border-color: var(--light-primary-300);
}
.main-summary {
  grid-template-columns: repeat(4, 1fr);
  gap: var(--px-10);
  padding: 0 var(--rem-1);
  padding-bottom: var(--rem-1);
}
.main-box {
  border-radius: var(--px-10);
  padding: var(--rem-one-half);
  position: relative;
  background: var(--search-background);
  box-shadow: var(--box-shadow-1);
}
.main-box span.arrow {
  position: absolute;
  right: 12px;
  top: 12px;
}
.main-box p.title {
  font-size: var(--f-size-14);
  font-weight: var(--f-weight-500);
  color: var(--primary-600);
}
.main-box h1.value {
  color: var(--primary-900);
  font-size: var(--f-size-42);
  margin-top: var(--px-8);
}
.main-box:nth-child(odd) {
  background: var(--gradient-1);
}
.main-box:nth-child(odd) :is(h1.value, p.title) {
  color: var(--btn-color);
}
span.arrow {
  background: var(--light-accent-50);
  width: var(--px-30);
  height: var(--px-30);
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-circle);
  border: 1px solid var(--light-primary-400);
  transition: var(--transition-1);
  line-height: 1;
  cursor: pointer;
}

:is(span.icon, span.info):is(:hover, .active) {
  background: var(--accent-100);
  border: 1px solid var(--accent-200);
}

span.arrow svg {
  width: var(--px-20);
  height: var(--px-20);
  fill: var(--accent-900);
  transition: var(--transition-1);
}

span.arrow:is(:hover, .active) svg {
  fill: var(--accent-800);
}
.sub-summary {
  grid-template-columns: repeat(2, 1fr);
  gap: var(--px-10);
  padding: var(--rem-1);
}
.summary-heading {
  border-radius: var(--px-10);
  padding: var(--px-10) var(--rem-1);
  background: var(--gradient-2);
  /* box-shadow: var(--box-shadow-1); */
  gap: var(--px-6);
}
.summary-heading svg {
  width: 20px;
  height: 20px;
  fill: var(--btn-color);
}
.finance .summary-heading {
  padding: var(--px-15) var(--rem-1);
}
h3.title {
  font-size: var(--f-size-16);
  color: var(--btn-color);
}
.summary-heading select {
  padding: var(--px-5) var(--px-8);
}
.sub-flex.flex {
  flex-wrap: wrap;
  gap: var(--px-8);
  margin-top: var(--px-10);
}
.sub-box {
  background: var(--search-background);
  border-radius: var(--px-10);
  padding: var(--rem-1);
  box-shadow: var(--box-shadow-1);
}
.sub-box p.title {
  color: var(--primary-700);
  font-size: var(--f-size-15);
  font-weight: var(--f-weight-500);
}
.sub-box h2.value {
  color: var(--primary-900);
  font-size: 36px;
  margin-top: var(--px-6);
}
/* MAIN SECTION */

main {
  width: calc(100% - 250px);
  position: absolute;
  right: 0;
  /* background: var(--light-accent-50); */
  min-height: 100vh;
}

main .main-data {
  min-height: 100vh;
}

header {
  height: 4rem;
  border-bottom: 1px solid var(--light-primary-400);
  padding: 0 var(--rem-1);
}

#ham-mobile {
  display: none;
}

.heading {
  padding: var(--rem-1);
}

h2,
h3 {
  font-weight: var(--f-weight-600);
  color: var(--primary-900);
}

.top-section {
  padding: 0 var(--rem-1);
}

.top-section .searchBox {
  max-width: 250px;
}

.filter-list {
  gap: var(--px-5);
}
.filter-list select {
  padding: var(--px-8) var(--px-10);
}
.filter-list span.icon {
  border-radius: var(--px-6);
}
.filter-list span.icon svg {
  width: var(--px-18);
  height: var(--px-18);
}
main .data-info {
  padding: var(--rem-1);
  overflow-x: auto;
  height: 80vh;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: var(--px-6);
  overflow: hidden;
  background: var(--accent-50);
  /* margin-top: var(--px-10); */
}

table tr {
  text-align: left;
  transition: var(--transition-1);
}

table th {
  font-weight: var(--f-weight-500);
  font-size: var(--f-size-13);
  color: var(--primary-700);
}

table thead tr,
table tfoot tr {
  background: var(--light-primary-300);
  border-left: 5px solid hsl(49.4, 29.8%, 88.8%);
}

table tbody tr {
  font-size: var(--f-size-14);
  color: var(--primary-900);
  font-weight: var(--f-weight-500);
  transition: var(--transition-1);
}
table tbody tr:not(:last-child) {
  border-bottom: 1px solid var(--light-primary-400);
}
table tbody tr:hover {
  background: var(--light-primary-100);
}

table :is(th, td) {
  padding: var(--px-8);
  word-wrap: break-word;
}

table td button.status {
  font-size: var(--f-size-10);
  font-weight: var(--f-weight-500);
  padding: var(--px-5) var(--px-8);
  line-height: 1;
}

table td button.status.success {
  background: var(--success-bg);
  border: 1px solid var(--success-outline);
  color: var(--success);
}

table td button.status.warning {
  background: var(--warning-bg);
  border: 1px solid var(--warning-outline);
  color: var(--warning);
}

table td.flex,
table td .flex {
  gap: var(--px-5);
}

table button {
  font-size: var(--f-size-10);
  padding: var(--px-5) var(--px-8);
  line-height: 1;
}

table span.icon {
  width: 25px;
  height: 25px;
}
.pagination-btn.disabled {
  opacity: 0.5;
  pointer-events: none;
}
table tfoot td {
  font-size: var(--f-size-13);
  font-weight: var(--f-weight-500);
}
main .more-data {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: var(--primary-50);
  /* backdrop-filter: blur(6px); */
  padding: var(--rem-1);
}

.more-data-text {
  margin-top: var(--px-10);
  margin-bottom: var(--px-10);
  font-size: var(--f-size-12);
  gap: var(--px-5);
}

.contents {
  grid-template-columns: repeat(2, 1fr);
  gap: var(--px-10);
  border-bottom: 2px solid var(--primary-100);
  padding-bottom: var(--rem-1);
}

.description {
  gap: var(--px-5);
}

.description h3 {
  font-size: var(--f-size-13);
  color: var(--primary-700);
  font-weight: 500;
}

.description p.text {
  font-size: var(--f-size-15);
  font-weight: 500;
  color: var(--primary-900);
}

.task-grid {
  grid-template-columns: repeat(3, 1fr);
  gap: var(--rem-1);
  margin-top: var(--rem-1);
}

.task-grid .grid-box {
  border: 2px solid var(--accent-200);
  border-radius: var(--px-6);
  background: var(--light-accent-100);
  overflow: hidden;
}

.grid-box > div:not(.amountInfo-popup) {
  padding: var(--px-8) var(--px-10);
}

.grid-box > div:not(:last-child) {
  border-bottom: 1px solid var(--accent-200);
}
.grid-box p {
  color: var(--accent-900);
  font-size: var(--f-size-12);
  font-weight: var(--f-weight-500);
}

.grid-box span.name {
  color: var(--primary-900);
  font-size: var(--f-size-13);
  font-weight: var(--f-weight-500);
}

.grid-box span.icon {
  width: var(--px-25);
  height: var(--px-25);
}

.grid-box span.icon svg {
  width: var(--px-15);
  height: var(--px-15);
}

.grid-box ul {
  margin-top: var(--px-8);
}

.grid-box ul li {
  margin-bottom: var(--px-6);
}

.category-title {
  padding: var(--px-10);
  background: var(--light-accent-300);
  gap: var(--px-8);
}

span.dot {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: var(--radius-circle);
  background: var(--accent-700);
}

.category-title p {
  font-weight: var(--f-weight-600);
  font-size: var(--f-size-16);
}

.category-btns {
  gap: var(--px-10);
}

.category-btns :is(select, button) {
  font-size: var(--f-size-12);
  padding: var(--px-6);
}

select.success {
  background: var(--success-bg);
  border: 1px solid var(--success-outline);
  color: var(--success);
}
.category-tasks ul li {
  gap: var(--px-5);
}

.category-tasks ul li input:checked ~ span {
  text-decoration: line-through;
}

.category-deadline span.name {
  background: var(--accent-100);
  border: 1px solid var(--accent-200);
  color: var(--accent-900);
  cursor: pointer;
  border-radius: var(--px-6);
  padding: var(--px-5) var(--px-8);
}

/* --POPUP-- */
.main-popup,
.alert-popup {
  position: fixed;
  top: 0;
  right: 0;
  background: var(--mainPopupbg);
  width: 100%;
  height: 100vh;
  z-index: 50;
  overflow-y: auto;
}
.main-popup .blur {
  width: 100%;
  max-width: 750px;
  margin: 30px auto;
  border-radius: var(--px-6);
  padding: var(--rem-1);
  background: var(--body-background);
  border: 1px solid var(--light-primary-400);
}

.main-popup .form {
  width: 100%;
  position: relative;
}

.form > .grid {
  grid-template-columns: repeat(2, 1fr);
  gap: var(--px-10);
  margin-bottom: var(--px-10);
}

.form h2 {
  text-align: center;
  color: var(--primary-900);
  padding-bottom: var(--px-10);
  border-bottom: 1px solid var(--accent-200);
}

.form h3 {
  text-align: center;
  line-height: 1;
  color: var(--accent-900);
  font-size: var(--f-size-16);
  font-weight: var(--f-weight-500);
  margin: var(--rem-1) 0;
}

.form .field {
  display: flex;
  flex-direction: column;
  gap: var(--px-5);
}

.field p.title {
  font-size: var(--f-size-13);
  font-weight: var(--f-weight-500);
  color: var(--primary-700);
}

.field p.title span {
  font-size: var(--f-size-10);
}

.field :is(input, select) {
  color: var(--primary-900);
  background: transparent;
  border: 1px solid var(--primary-200);
  border-radius: var(--px-6);
  padding: var(--px-10);
  font-size: var(--f-size-14);
  font-weight: var(--f-weight-500);
  transition: var(--transition-1);
}

.field :is(input, select):is(:focus) {
  border: 1px solid var(--primary-200);
  background: var(--primary-100);
}

.field input[type="number"]::-webkit-outer-spin-button,
.field input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.form .action-btn,
.alert-btn {
  gap: var(--px-10);
  width: 100%;
  margin-top: var(--px-5);
}
.form .action-btn button,
.alert-btn button {
  font-size: var(--f-size-15);
  padding: var(--px-8);
}
/* ALERT POPUP  */
.alert-box {
  width: 100%;
  height: 100%;
  max-width: 450px;
  margin: 15vw auto;
  border-radius: var(--px-6);
  padding: var(--rem-2);
  background: var(--primary-50);
  border: 1px solid var(--light-primary-400);
  background: var(--search-background);
  animation: scale 1s ease;
}
@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    scale: (1);
  }
}
.alert-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--px-10);
  margin-bottom: var(--px-10);
}
.alert-box span.alertIcon {
  border-radius: var(--radius-circle);
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 5px solid var(--search-background);
  animation: pop 3ms ease-in-out;
}
:is(.success, .query) span.alertIcon {
  border: 5px solid var(--success);
}
:is(.success, .query) span.alertIcon svg {
  fill: var(--success);
}
.warning span.alertIcon {
  border: 5px solid var(--warning);
}
.warning span.alertIcon svg {
  fill: var(--warning);
}
@keyframes pop {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.alert-box span.alertIcon svg {
  width: 40px;
  height: 40px;
}
.alert-box span.primaryText {
  font-size: 30px;
  font-weight: var(--f-weight-600);
  color: var(--primary-900);
}
.alert-box span.secondaryText {
  color: var(--primary-700);
  font-size: var(--f-size-16);
  font-weight: var(--f-weight-500);
}
/* EMPLOYEE POPUP  */
.main-popup ul {
  height: 50vh;
  overflow-y: scroll;
}
.main-popup ul li {
  margin: var(--px-5) auto;
  font-size: var(--f-size-15);
  font-weight: var(--f-weight-500);
  padding: var(--px-10) var(--px-15);
  gap: var(--px-6);
  background: var(--search-background);
  border: 1px solid var(--light-primary-400);
  border-radius: var(--px-6);
  color: var(--primary-900);
}
.main-popup ul li input:checked ~ span {
  color: var(--accent-900);
}
/* ADD PROJECT FORM  */
.side-nav {
  padding: 0 var(--rem-1);
  gap: var(--px-8);
  border-bottom: 1px solid var(--light-primary-400);
}
.side-nav p.title {
  font-size: var(--f-size-16);
  font-weight: var(--f-weight-500);
  color: var(--primary-900);
  border-bottom: 3px solid var(--primary-50);
  transition: var(--transition-1);
  cursor: pointer;
}
.side-nav p.active {
  color: var(--accent-500);
  border-bottom: 3px solid var(--accent-500);
}
.form-container {
  padding: var(--rem-1);
  background: var(--search-background);
  /* border-radius: var(--px-6); */
}
.form-container h3 {
  margin-top: 0;
  padding: var(--rem-1);
}
.form-container .grid {
  grid-template-columns: repeat(4, 1fr);
}
.field .flex {
  gap: var(--px-5);
  padding-top: var(--px-5);
}

.field p.type {
  font-size: var(--f-size-14);
  font-weight: var(--f-weight-500);
  color: var(--primary-900);
}

/* FINANCE DASHBOARD */
.category-title button.fin-add {
  padding: var(--px-5) var(--px-10);
  border: 1px solid var(--light-accent-400);
}
.category-amount span.name {
  font-weight: var(--f-weight-600);
}
.category-amount span.advance {
  background: var(--accent-100);
  border: 1px solid var(--accent-200);
  color: var(--accent-500);
  cursor: pointer;
  border-radius: var(--px-6);
  padding: var(--px-5) var(--px-8);
}
.amountInfo-popup table {
  border-radius: 0;
}
:is(.amountInfo-popup, .amountInfo) table thead tr {
  background: var(--light-accent-300);
}
:is(.amountInfo-popup, .amountInfo) table thead th {
  color: var(--accent-900);
}
span.info {
  font-size: var(--f-size-12);
  width: 20px;
  height: 20px;
}

.amount-info {
  position: relative;
}
.amountInfo {
  position: absolute;
  min-width: 470px;
  z-index: 50;
  top: 100%;
  right: 0%;
  padding: 20px;
  background: #ebe8da;
  border-radius: 13px;
  box-shadow: 0px 2px 2px 0px #b7b7b7;
}
.fin-info table {
  overflow: visible;
}
.progress-container {
  width: 70%;
  height: 14px;
  background-color: #eee;
  border-radius: 10px;
  margin-top: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background-color: #4caf50; /* green */
  border-radius: 10px 0 0 10px;
  transition: width 0.4s ease;
}

/* EXPENSES */
.heading-ctn {
  display: flex;
  justify-content: space-between;
}
.expense-setting {
  display: flex;
  align-items: center;
  gap: 10px;
}
.expense-setting svg {
  width: 25px;
  height: 25px;
}
.top-expense-section .section-text {
  gap: 10px;
  cursor: pointer;
}
.main-filter {
  background: #fff0c7;
  padding: 5px 10px;
  font-size: 12px;
  gap: 10px;
  display: flex;
  border-radius: 8px;
  border: 1px solid #ffe08a;
  font-weight: 700;
}
.main-filter span {
  padding: 0px;
}
.main-filter span:first-child {
  color: forestgreen;
  /* background-color: rgb(225, 255, 225); */
}
.main-filter span:last-child {
  color: rgb(192, 7, 7);
  /* background-color: rgb(255, 229, 225); */
}
.utility-section {
  gap: var(--px-8);
}
:is(.btn-primary, .btn-secondary) {
  padding: var(--px-8) var(--px-10);
  font-size: var(--f-size-14);
  gap: var(--px-5);
}
.add-button-child {
  display: none;
  width: 9rem;
  position: absolute;
  right: 1rem;
  border-radius: 10px;
  background: #fff0c7;
  box-shadow: 1px 0px 5px #d7d7d7;
}
.add-button-child button {
  width: 9rem;
  justify-content: space-evenly;
}
.add-button-child button:last-child {
  background: rgb(248, 203, 203);
  color: red;
  border-radius: 0px 0px 10px 10px;
}
.add-button-child button:first-child {
  background: rgb(187, 255, 187);
  color: green;
  border-radius: 10px 10px 0px 0px;
}
#Project_phaseData_show {
  background: var(--accent-700);
  padding: 5px;
  font-size: 14px;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 6px;
  color: white;
}

.hidden-checkbox:checked ~ .add-button-child {
  display: block;
}

.btn-primary {
  background: var(--gradient-1);
  color: var(--btn-color);
}
.btn-primary:is(:hover, :focus) {
  background: var(--accent-600);
  color: var(--btn-color);
}
.btn-primary svg {
  width: 40px;
  height: 18px;
  fill: var(--btn-color);
}
.btn-secondary {
  background: var(--search-background);
  color: var(--primary-900);
  border-color: var(--light-primary-300);
}
.btn-secondary:is(:hover, :focus) {
  background: var(--primary-100);
  color: var(--primary-900);
  border-color: var(--light-primary-300);
}
.btn-secondary svg {
  width: 15px;
  height: 15px;
  fill: var(--primary-900);
}
.advance-dropdown .grid {
  margin-top: var(--px-10);
  grid-template-columns: repeat(3, 1fr);
}
.extra-grid {
  margin-top: var(--px-10);
}
.search-project-ctn {
  display: none;
  width: 49%;
  background: #f7f6f6;
  border: 1px solid #ffe08a;
  border-radius: 5px;
  padding: 25px 10px 0px 10px;
  position: absolute;
  height: 300px;
  top: 116px;
  font-size: 14px;
  overflow-y: scroll;
}
.search-project-ctn .cancel-btn {
  cursor: pointer;
  border: 2px solid #de690269;
  padding: 0px 6px 3px 6px;
  border-radius: 20px;
  color: #de69029c;
  font-weight: 600;
  position: absolute;
  margin-top: -22px;
  margin-left: -1px;
}
.search-project-ctn p {
  font-size: 13 px;
  padding: 8px 14px;
  background-color: #ffe08a91;
  border-radius: 5px;
  margin: 5px 0px;
}
.search-project-ctn p strong {
  font-size: 14px;
}

.search-project-ctn::-webkit-scrollbar-track {
  background: var(--accent-600);
  border-radius: 10px;
}

.search-project-ctn::-webkit-scrollbar-thumb {
  background-color: var(--accent-600);
  border-radius: 10px;
  border: 3px solid var(--accent-600);
}
.search-project-ctn {
  scrollbar-width: thin;
  scrollbar-color: var(--accent-600) #f0e9e2;
}
.expense-border {
  border-left: 3px solid red;
}
.income-border {
  border-left: 3px solid green;
}

/* USER DASHBOARD */
.more-btn {
  margin-bottom: var(--px-10);
}
.edit-more-data {
  gap: var(--px-6);
}
.edit-more-data .edit-btn {
  padding: var(--px-5) var(--px-10);
}
.edit-more-data .delete-btn {
  padding: var(--px-5) var(--px-5);
  background: #fdd;
  border: 1px solid #fdafaf;
  display: flex;
}
.edit-more-data .delete-btn svg {
  fill: red;
}
.edit-more-data p.title {
  font-size: var(--f-size-13);
  color: var(--accent-500);
  transition: var(--transition-1);
  cursor: pointer;
}
.edit-more-data p.title:hover {
  text-decoration: underline;
}
.description p.status {
  font-size: var(--f-size-12);
  font-weight: var(--f-weight-500);
  padding: var(--px-5) var(--px-10);
  line-height: 1;
  border-radius: var(--px-6);
}

.description p.status.success {
  background: var(--success-bg);
  border: 1px solid var(--success-outline);
  color: var(--success);
}

.description p.status.warning {
  background: var(--warning-bg);
  border: 1px solid var(--warning-outline);
  color: var(--warning);
}
.tabs {
  gap: var(--px-10);
  margin-top: var(--rem-1);
}
.tabs > div {
  padding: var(--px-10);
  border-radius: var(--px-6);
  border: 1px solid var(--primary-200);
}
.tabs-header {
  border-bottom: 1px solid var(--primary-100);
  font-size: var(--f-size-16);
  font-weight: 600;
  color: var(--accent-700);
}
.tabs-header p.sub {
  padding-bottom: var(--px-10);
  border-bottom: 2px solid var(--accent-300);
}
.tabs-content {
  margin-top: var(--px-10);
  margin-bottom: var(--px-10);
}
.project-involved p.title {
  font-size: var(--f-size-15);
  margin-bottom: var(--px-5);
}
.project-involved ul li {
  gap: var(--px-6);
  font-size: var(--f-size-14);
  color: var(--accent-500);
  line-height: 1.3;
}

/* SETTINGS  */
.switch {
  grid-template-columns: repeat(3, 1fr);
  gap: var(--px-10);
  padding: 0 var(--rem-1);
  display: flex;
}
.switch-aside-ctn {
  width: 300px;
  height: 300px;
  padding: 10px 20px;
  background: #fbf3de;
  border-radius: 13px;
}
.switch-aside-content {
  border: 1px solid #fee499;
  border-radius: 13px;
  padding: 10px;
  margin-top: 10px;
  background: white;
}
.switch-aside-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background: #fbf3de;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 1px #d9d9d9;
}
.switch-aside-item p {
  color: rgb(53, 53, 53);
  font-weight: var(--f-weight-500);
}
.switch-aside-item svg {
  fill: var(--accent-500);
}
.switch-content {
  display: none;
}
.switch-content.active {
  display: block;
  width: 30%;
  margin-left: 50px;
}
.switch-aside-item.active,
.active p {
  background: #b7520d;
  color: white;
}

.switch-content {
  border: 1px solid var(--light-primary-400);
  border-radius: var(--px-6);
  padding: var(--px-10);
}
.switch-title h3 {
  font-size: var(--f-size-15);
  color: var(--accent-500);
  font-weight: var(--f-weight-600);
  padding-bottom: var(--px-10);
  border-bottom: 2px solid var(--accent-500);
}
.switch-title h3 span {
  font-size: var(--f-size-12);
  font-weight: var(--f-weight-500);
}
.switch-btn {
  width: 100%;
  gap: var(--px-10);
  margin: var(--px-10) 0;
}
.switch-btn input {
  width: 100%;
  padding: var(--px-8);
  border: 1px solid var(--light-primary-400);
  border-radius: var(--px-6);
  font-size: var(--f-size-15);
  font-weight: var(--f-weight-500);
  color: var(--primary-900);
  background: transparent;
  transition: var(--transition-1);
}
.switch-btn input:is(:focus, :hover) {
  background: var(--light-primary-100);
}
.switch-btn button {
  padding: var(--px-8) var(--px-10);
}
.switch-data .edit-btn {
  padding: var(--px-5) var(--px-10);
}
.switch-data .delete-btn {
  padding: 2px 5px;
}
.switch-data button svg {
  fill: var(--accent-900);
  width: 18px;
  height: 18px;
}
.switch-data ul {
  height: 50vh;
  overflow-y: scroll;
}
.switch-data ul li {
  font-size: var(--f-size-15);
  font-weight: var(--f-weight-500);
  color: var(--accent-900);
  gap: var(--px-6);
  padding: var(--px-5) var(--px-8);
  margin-bottom: var(--px-8);
  border: 1px solid var(--light-accent-200);
  border-radius: var(--px-6);
  transition: var(--transition-1);
  background: var(--light-accent-150);
  /* background: #000; */
}
.switch-data ul li:is(:hover, :focus) {
  background: var(--light-accent-300);
}

:is(.misc-task, .small-task, .split-ratio) .field {
  margin-top: var(--px-10);
}
