<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex, follow">

    <title>CA Login | EBAH</title>
    <link rel="stylesheet" href="/css/admin/loginPage.css">
     <!-- --ICON CSS--  -->
     <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

<body>
    <div class="login-container">
        <div class="logo">
            <h2 class="uppercase">EBAH</h2>
        </div>
        <h3>Howdy CA, Welcome Back</h3>
        <p class="first">Enter your credentials to continue</p>
        <div class="form">
            <form method="POST" action="/ca/auth" class="register-form" id="login-form">
                <div class="field field1">
                    <label for="your_name">Email Address</label>
                    <input type="text" name="Email" id="Email">
                </div>
                <div class="field field1">
                    <label for="your_pass">Password</label>
                    <input type="text" name="Password" id="Password">
                    <i class="uil uil-eye" id="eye"></i>
                </div>
                <div class="flex">
                    <div class="field">
                        <input type="checkbox" name="" id="">
                        <span>Keep me logged in</span>
                    </div>
                    <div class="field">
                        <span class="right">Forgot Password?</span>
                    </div>
                </div>
                <div class="field field-btn">
                    <button type="submit" name="signin" id="signin">Log In</button>
                </div>
            </form>
        </div>
        <hr>
        <a class="last">Don't have an account?</a>
    </div>

    <!-- --JS-- -->
    <script>
        const passField = document.querySelector("#Password");
        const toggleBtn = document.querySelector("#eye");
    
        toggleBtn.onclick = () => {
          if (passField.type == "password") {
            passField.type = "text";
            toggleBtn.classList.add("active");
          }
          else {
            passField.type = "password";
            toggleBtn.classList.remove("active");
          }
        }
      </script>
</body>

</html>