.expensebox{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}
.expensive, .finance-notification{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: var(--border-radius-2);
    background: var(--white);
}
.expensive{
    flex: 1;
}
.finance-notification{
    width: 30%;
}
.finance-notification h4{
    margin-bottom: 1rem;
}
.finance-scroll{
    height: 68vh;
    overflow: scroll;
}
.finance-scroll p {
    font-weight: 500;
    font-size: 12px;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.finance-scroll :is(.red, p.red:hover)
    {
    background: var(--ter-light-color);
    color: var(--ter-dark-color);
}
.finance-scroll p.red svg{
    fill: var(--ter-dark-color);
}
.finance-scroll p.red span:last-child{
    outline: 1px solid var(--ter-dark-color);
}
.finance-scroll p:is(:hover, .active){
    background: var(--sec-light-color);
}
.finance-scroll svg:hover{
    fill: var(--secondary-color);
}
.finance-scroll p span:last-child{
    width: 30px;
    display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
    border-radius: 50%;
    background: var(--white);
    outline: 1px solid var(--sec-bg);

}
.finance-scroll p span svg{
    width: 20px;
}
.expenseheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 1rem;
    padding: 0 0.5rem;
    flex-wrap: wrap;
}
.expensebox hr{
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgb(227, 232, 239);
}
.expenseheader :is(button,select){
    padding: 8px;
    border-radius: var(--border-radius-1);
    background: var(--primary-color);
    color: var(--white);
    font-weight: 600;
    transition: var(--transition-2);
    display: flex;
    align-items: center;
    gap: 5px; 
    width: auto;
}
.expenseheader button:hover {
    opacity: 0.8;
}

.expenseheader button svg {
    width: 20px;
    height: 20px;
    fill: var(--white);
}
.expenseheader select{
    background: var(--primary-bg);
    color: var(--primary-color);
}
.expenseheader .btn svg{
    width: 18px;
}
.expenseheader .btn{
    /* flex-wrap: wrap; */
    flex-grow: 1;
}
/* -------EXPENSE LIST-------- */
.expense-page{
    margin: 0.5rem auto;
    height: 50vh;
    overflow-y: scroll;
}
.expense-list{
    display: grid;
    grid-template-columns: 4rem repeat(5, 1fr) 3rem;
    padding: 1rem;
    transition: var(--animation-1);
    position: relative;
}
.expense-list:hover{
    background: var(--bg-3);
    cursor: pointer;
}
.expense-list div p:first-child{
    color: var(--grey);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.75;
    width: 105%;
}
.expense-list div p:not(:first-child){
    font-size: 12px;
    font-weight: 600;
    color: var(--designation-color);
}
.expense-remarks{
    width: 80%;
}
/* ---EDIT EXPENSE BUTTON---S */
.expense-edit{
    height: 25px;
    width: 25px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
    transition: all 300ms ease-out;
    overflow: hidden;
    outline: 1px solid hsl(260, 92%, 95%);
}
.expense-edit svg{
    fill: var(--primary-color);
    width: 13px;
    display: inline-block;
    margin-left: 6px;
}
.expense-edit:hover{
    background: hsl(260, 92%, 90%);
    width: 65px;
}
.expense-edit:hover svg{
    margin-left: 0px;
    fill: var(--white);
}
.expense-edit:hover a.eicon{
    background: var(--primary-color);
}
.expense-edit a.eicon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.expense-edit span.edit{
    /* display: inline-block; */
    font-weight: 500;
    font-size: 13px;
    margin-left: 5px;
    color: var(--primary-color);
}
.expensebox .info_pagination{
    margin-top: 1rem;
}
.expense-pagination .pages ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
/* --------------ADD EXPENSE MODAL-------- */
.addexpense, .editexpense{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 100vh;
    background: var(--black-light);
}
/* ----------EDIT EXPENSE------------ */
.expense-grid{
    background: var(--white);
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    border-radius: var(--border-radius-1);
    flex-wrap: wrap;
    max-width: 100%;
    width: 90%;
}
.expense-grid hr{
    margin-top: 10px;
}
.egrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem; 
}
.expense-grid .field{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.expense-grid .field label{
    font-size: 13px;
    font-weight: 500;
    color: var(--grey);
}
.expense-grid .field :is(input, select){
    width: 100%;
    height: 3rem;
    border-radius: var(--border-radius-1);
    background: var(--bg-2);
    outline: 1px solid var(--black-light);
    animation: var(--animation-1);
    padding: 0 1rem;
    margin-top: 5px;
    font-size: 0.9rem;
    font-weight: 500;
}

.expense-grid .field textarea{
    resize: none;
    width: 100%;
    height: 15vh;
    border-radius: var(--border-radius-2);
    background: var(--bg-2);
    outline: 1px solid var(--black-light);
    animation: var(--animation-1);
    padding: 1rem;
    margin-top: 5px;
    font-size: 0.9rem;
    font-weight: 500;
}
.expense-grid button{
    padding: 12px;
    border-radius: var(--border-radius-1);
    font-size: 16px;
    font-weight: 700;
    transition: var(--transition-2);
    margin-top: 1rem;
    width: 100%;
}
.expense-grid button:hover{
    opacity: 0.8;
}
.expense-grid button:first-child{
    background: var(--green-light);
    color: var(--green);
}
.expense-grid button:first-child:hover{
    color: var(--white);
    background: var(--green);
}
.expense-grid button:last-child{
    background: var(--ter-light-color);
    color: var(--ter-dark-color);
}
.expense-grid button:last-child:hover{
    color: var(--white);
    background: var(--ter-dark-color);
}

@media screen and (max-width:768px) {
    .expensebox{
        padding: 10px;
    }
    .expense-addition-box{
        left: 40%;
    }
    .expense-list{
        grid-template-columns: 1fr 1fr;
        align-items: flex-start;
        gap: 8px;
    }
    .expense-edit{
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }
    .egrid{
        grid-template-columns: 1fr;
    }
    .finance-notification{
        width: 100%;
        margin-top: 0;
    }
    .expenseheader button span:first-child{
        display: none;
    }
    .expenseheader div{
        gap: 8px;
    }
}