@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --white: #ffffff;
    --black: rgb(0, 0, 0);
    --black-light: rgba(0, 0, 0, 0.4);
    --black-light-2: rgba(0, 0, 0, 0.8);

    --primary-color: hsl(260, 54%, 45%);
    --primary-outline: hsla(260, 54%, 45%, 0.2);
    --primary-light-color: hsl(261, 54%, 95%);
    --primary-bg: hsl(260, 54%, 93%);
    --primary-bgr: hsl(260, 54%, 88%);

    --secondary-color: hsl(208, 79%, 51%);
    --sec-outline: hsla(208, 79%, 51%, 0.2);
    --sec-light-color: hsl(208, 92%, 95%);
    --sec-bg: hsl(208, 79%, 93%);
    --sec-bgrd: hsl(208, 79%, 85%);
    --sec-bgr: hsl(208, 79%, 88%);

    --tertiary-color: hsl(0, 100%, 45%);
    --ter-outline: hsla(0, 100%, 45%, 0.1);
    --ter-dark-color: hsl(0, 100%, 50%);
    --ter-light-color: hsl(0, 100%, 95%);

    --green: hsl(160, 100%, 34%);
    --green-outline: hsla(160, 100%, 34%, 0.2);
    --green-light: hsl(154, 61%, 90%);
    --green-bg: hsl(160, 100%, 95%);
    --green-bgr: hsl(160, 100%, 90%);
    --green-bgrd: hsl(160, 100%, 88%);

    --hover-bg: hsl(208, 79%, 97%);

    --bg-color: hsl(264, 45%, 94%);
    --bg-2: hsl(210, 40%, 98%);
    --bg-3: hsl(210, 31%, 95%);

    --grey: rgb(112, 116, 117);
    --light-grey: hsl(203, 20%, 70%);
    --very-light-grey: hsl(200, 20%, 95%);

    --border-radius-1: 4px;
    --border-radius-2: 8px;

    --transition-1: all 300ms linear;
    --transition-2: all 300ms ease-in-out;

    --box-shadow-1: rgba(0, 0, 0, 0.24) 0px 8px 8px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
}

body.flow {
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

::selection {
    background: var(--green);
    color: var(--white);
}

/* ::-webkit-scrollbar {
    width: 0;
} */

button,
svg {
    cursor: pointer;
}

.skeleton {
    animation: skeleton 1s linear infinite alternate;
}

@keyframes skeleton {
    0% {
        background: var(--light-grey);
    }

    0% {
        background: var(--very-light-grey);
    }
}

/* COMMON CLASSES */
.container {
    /* position: relative; */
    width: 100dvw;
}

.svg {
    width: 25px;
    height: 25px;
    fill: var(--primary-color);
    cursor: pointer;
}

.uppercase {
    text-transform: uppercase;
}

.flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}

img {
    width: 30px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.btn {
    background: var(--bg-color);
    width: 35px;
    height: 35px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-2);
    transition: var(--transition-1);
}

.btn:hover {
    background: var(--primary-color);
}

.btn:hover .svg {
    fill: var(--white);
}

.hide {
    display: none;
    /* opacity: 0; */
}

/* HEADER  */

header {
    padding-left: 2rem;
    padding-right: 2rem;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: auto;
    width: 100%;
    z-index: 35;
    background: var(--white);
}

.logo {
    width: 220px;
    justify-content: space-between;
    cursor: pointer;
}

/* -----SEARCH BAR----- */
.search {
    margin-left: 1rem;
    width: 450px;
    position: relative;
    height: 3rem;
    border-radius: var(--border-radius-1);
    z-index: 2;
}

.search input {
    width: 100%;
    height: 3rem;
    border-radius: var(--border-radius-1);
    background: var(--bg-2);
    outline: 1px solid var(--black-light);
    animation: var(--animation-1);
    padding: 0 2.8rem 0 2.3rem;
    font-size: 1rem;
    word-wrap: break-word;
}

.search input:hover {
    outline: 1px solid var(--black-light-2);
}

.search input:focus {
    outline: 2px solid var(--secondary-color);
}

.search .open {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 17px;
    left: 14px;
}

.searchIcon {
    display: none;
}

.searchIcon svg {
    width: 20px;
    height: 20px;
}

.search .cls {
    background: var(--ter-light-color);
    width: 25px;
    height: 25px;
    border-radius: var(--border-radius-1);
    position: absolute;
    top: 12px;
    right: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    cursor: pointer;
}

.search .cls svg {
    fill: var(--ter-dark-color);
}

.search .close {
    width: 20px;
    height: 20px;
}

/* -------THEME TOGGLE--------- */
.theme-toggler {
    position: absolute;
    right: 10rem;
    background: var(--sec-light-color);
}

.theme-toggler svg {
    fill: var(--secondary-color);
}

.theme-toggler:hover {
    background: var(--secondary-color);
}

.theme-toggler:hover svg {
    fill: var(--white);
}

/* -----NOTIFICATION----- */
.notification {
    position: absolute;
    right: 7rem;
}

.notification.active {
    background: var(--primary-color);
}

.notification.active svg {
    fill: var(--white);
}

.notification.red {
    background: var(--ter-light-color);
}

.notification.red svg {
    fill: var(--ter-dark-color);
}

.notification.red:hover {
    background: var(--ter-dark-color);
}

.notification #notification-count {
    display: none;
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: var(--ter-dark-color);
    color: var(--white);
    border-radius: 50%;
    padding: 4px 6px;
    font-size: 12px;
}

/* ----LIST notification---- */
.notification-list {
    position: absolute;
    top: 5rem;
    right: 7rem;
    max-width: 320px;
    width: 100%;
    background: var(--white);
    outline: 1px solid var(--primary-light-color);
    border-radius: var(--border-radius-1);
    box-shadow: var(--box-shadow-1);
    padding: 11px;
}

.notification-list p.uppercase {
    font-weight: 600;
    padding: 1rem;
}

hr {
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgb(227, 232, 239);
}

.notification-column {
    overflow: scroll;
    height: 50vh;
    cursor: pointer;
    /* padding: 0 5px; */
}

.notification-column p {
    font-weight: 500;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 5px;
}

.notification-column p:hover {
    background: var(--sec-light-color);
}

/* .notification-column p span:nth-child(1){
    display: inline-block;
    padding: 5px 7px;
    color: var(--primary-color);
   background: var(--primary-light-color); 
    border-radius: 50%;
}
.notification-column p span:last-child{
    padding: 5px 10px;
    border-radius: 20px;
} */
.notification-column p span.actionBtn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 10px;
    background: var(--primary-color);
    color: #8f58ff;
    border-radius: 20px;
}

.notification-column p span.n-icon {
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.notification-column p span.n-icon:hover {
    background-color: #fff;
    width: 22px;
    height: 22px;
    border-radius: 20px;
}

.notification-column p span.actionBtn svg {
    fill: rgb(255, 255, 255);
    width: 19px;
    height: 19px;
}

.notification-column p span.actionBtn svg:hover {
    fill: var(--primary-color);
}

.notification-column .read {
    background-color: #c9c9c9;
    color: #808080;
}

.read span.actionBtn {
    background-color: #a3a3a3 !important;
}

/* ------PROFILE---------- */
.profileIcon {
    position: absolute;
    right: 3rem;
    background: var(--sec-light-color);
    padding: 4px;
    border-radius: 30px;
    transition: var(--transition-1);
    cursor: pointer;
}

.profileIcon:hover {
    background: var(--secondary-color);
}

.profileIcon:hover svg {
    fill: var(--white);
}

.profileIcon svg {
    fill: var(--secondary-color);
}

/* --------SECTION STARTS HERE------- */
.isaio {
    overflow: hidden;
    width: 100dvw;
    position: relative;
    z-index: 30;
}

#loading-container {
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    top: 0;
    left: 0;
    z-index: 110;
    background: var(--black-light);
}

#loader {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 40%;
    left: 50%;
    border-radius: 50%;
    border: 7px solid #ddd;
    border-top-color: #333;
    animation: rotate 1s infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.account-settings {
    position: absolute;
    right: 1rem;
    top: 6rem;
    width: 150px;
    background: var(--white);
    height: 3rem;
    border-radius: var(--border-radius-2);
    font-size: 14px;
    padding-left: 1rem;
    font-weight: 500;
    cursor: pointer;
    padding-top: 11px;
    outline: 1px solid var(--primary-outline);
    box-shadow: var(--box-shadow-1);
}

.account-settings svg {
    fill: var(--black);
}

.account-settings:hover {
    color: var(--primary-color);
    background: var(--bg-color);
}

.account-settings:hover svg {
    fill: var(--primary-color);
}

/* ---ASIDE MENU---- */
aside {
    z-index: inherit;
    width: 100%;
}

nav {
    width: 250px;
    height: 100vh;
    padding-left: 1rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

/* ---------hamburger------ */
nav.width {
    width: 70px;
}

nav h3 {
    padding-left: 1rem;
    opacity: 0;
}

nav .nav-lists {
    margin-top: 2rem;
    cursor: pointer;
    overflow: scroll;
    height: 100%;
    max-height: 100%;
}

nav .nav-lists hr {
    outline: 1px solid var(--sec-light-color);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

nav .nav-lists svg {
    fill: var(--black);
}

.nav-lists ul span.namue {
    /* padding-left: -1rem !important; */
    font-size: 15px;
    font-weight: 500;
}

.nav-lists ul a {
    height: 3rem;
    padding-left: 1rem;
    margin-top: 0.5rem;
    border-radius: var(--border-radius-2);
    font-size: 14px;
    transition: var(--transition-1);
}

.nav-lists ul a:is(:hover, .active) {
    color: var(--primary-color);
    background: var(--bg-color);
}

.nav-lists ul a:is(:hover, .active) svg {
    fill: var(--primary-color);
}

/* ------MAIN SECTION-------- */
.main {
    background: var(--bg-3);
    /* flex-grow: 1; */
    position: absolute;
    margin-top: 5rem;
    top: 0;
    right: 1rem;
    width: 81%;
    height: 90vh;
    padding: 20px;
    overflow: scroll;
    scroll-behavior: smooth;
    z-index: inherit;
}

.main.width {
    width: 93%;
}

.main.flow {
    overflow: hidden;
}

.main.grow{
    overflow: hidden;
    height: 205vh;
    }

