.main .main-data {
    flex-wrap: wrap;
}

.main .main-data .data {
    flex-grow: 1;
    /* justify-content: space-between; */
    /* height: 5rem; */
    padding: 1rem 1.5rem;
    border-radius: var(--border-radius-2);
    position: relative;
    overflow: hidden;
    background-image: none;
    color: var(--white);
    gap: 1.5rem;
    z-index: 10;
}

.main .main-data svg {
    fill: var(--white);
    width: 30px;
    height: 30px;
}

.main .main-data .size {
    font-size: 1.5rem;
    font-weight: 700;
}

.main .main-data .text {
    font-size: 14px;
}

.main .total-data {
    background: var(--primary-color);
}

.main .total-data::before {
    content: '';
    position: absolute;
    top: -38px;
    right: -42px;
    width: 100px;
    height: 100px;
    background: hsl(255, 61%, 39%);
    border-radius: 50%;
    z-index: -1;
}

.main .total-data::after {
    content: '';
    position: absolute;
    top: -42px;
    right: -15px;
    width: 100px;
    height: 100px;
    background: hsl(255, 61%, 39%);
    border-radius: 50%;
    z-index: -1;
    opacity: 0.5;
}

.main .in_progress-data {
    background: var(--secondary-color);
}

.main .in_progress-data::before {
    content: '';
    position: absolute;
    top: -38px;
    right: -42px;
    width: 100px;
    height: 100px;
    background: hsl(212, 80%, 42%);
    border-radius: 50%;
    z-index: -1;
}

.main .in_progress-data::after {
    content: '';
    position: absolute;
    top: -42px;
    right: -15px;
    width: 100px;
    height: 100px;
    background: hsl(212, 80%, 42%);
    border-radius: 50%;
    z-index: -1;
    opacity: 0.5;
}

.main .not_start-data {
    background: var(--tertiary-color);
}

.main .not_start-data::before {
    content: '';
    position: absolute;
    top: -38px;
    right: -42px;
    width: 100px;
    height: 100px;
    background: hsl(0, 100%, 40%);
    border-radius: 50%;
    z-index: -1;
}

.main .not_start-data::after {
    content: '';
    position: absolute;
    top: -42px;
    right: -15px;
    width: 100px;
    height: 100px;
    background: hsl(0, 100%, 40%);
    border-radius: 50%;
    z-index: -1;
    opacity: 0.5;
}

.main .data div {
    line-height: 1.5;
}

/* ---------------------------------
        alert
        ----------------------------- */
.main .status {
    position: absolute;
    background: var(--black-light);
    /* inset: 0; */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    height: 100vh;
}

.main .alert.red {
    border: 1px solid var(--ter-dark-color);
    background: var(--ter-light-color);
    color: var(--ter-dark-color);
}

.main .alert.green {
    border: 1px solid var(--green);
    background: var(--green-light);
    color: var(--green);
}

.status .alert {
    justify-content: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
    border-radius: var(--border-radius-2);
    z-index: 500;
}

.status .alove {
    width: 40px;
    height: 40px;
}

.main .status p {
    font-size: 18px;
    font-weight: 600;
}

.main .status span.caution {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    line-height: 1;
    border-radius: var(--border-radius-1);

}

.main .alert.red span.caution {
    border: 1px solid var(--ter-dark-color);
}

.main .alert.green span.caution {
    border: 1px solid var(--green);
}

.main .alert.red svg {
    fill: var(--ter-dark-color);
}

.main .alert.green svg {
    fill: var(--green);
}

/* ----------DATA TABLE------------ */
.grid {
    display: grid;
    grid-template-columns: 5rem repeat(3, minmax(0, 1fr)) 12rem 5rem 1.5rem;
    align-items: center;
    justify-items: flex-start;
    gap: 10px;
}

.info-head,
.info-content p {
    word-break: break-word;
}

.main .box {
    margin-top: 2rem;
    padding: 1.5rem;
    border-radius: var(--border-radius-2);
}

.main .data-info {
    background: var(--white);
}

.data-info .info-head {
    padding: 0 1.5rem;
}

:is(.info-head, .info-content) .phead {
    color: var(--grey);
    font-size: 12px;
    font-weight: 600;
}

.data-info .info-content {
    border: 1px solid var(--green-light);
    border-radius: var(--border-radius-1);
    position: relative;
    margin: 0.5rem auto;
    height: 50vh;
    overflow-y: scroll;
}

.info-content .accordion-content {
    margin: 1rem;
    padding: 0.8rem 0.5rem;
    border-radius: var(--border-radius-1);
    cursor: pointer;
    transition: var(--transition-1);
    border: 1px solid var(--sec-light-color);
    /* overflow: hidden; */
}

.info-content .accordion-content:hover {
    background: var(--bg-2);
}

.info-content .accordion-content p {
    font-size: 14px;
    font-weight: 600;
}

.accordion-content .e-mail {
    width: 80%;
}

.info-content .accordion-content .stat {
    width: 80%;
    font-size: 12px;
    height: 1.5rem;
    justify-content: center;
    border-radius: var(--border-radius-2);
}

.info-content .accordion-content .stat.green {
    background: var(--green-light);
    color: var(--green);
}

.info-content .accordion-content .stat.red {
    background: var(--ter-light-color);
    color: var(--ter-dark-color);
}

.accordion-content .arrow-down {
    transition: all 2s ease;
}

.accordion-content .arrow-down.open svg {
    transform: rotate(180deg);
}
.accordion-content .ahead{
    position: relative;
}
.edit-btn{
    background: var(--sec-light-color);
    color: var(--secondary-color);
    padding: 5px 8px;
    border-radius: var(--border-radius-1);
}
.edit-box:hover{
    background: var(--sec-bg);
}
.accordion-content .flexy{
    display: flex;
    align-items: center;
    gap: 5px;
}
.accordion-content .butt{
    width: 25px;
    height: 25px;
    color: var(--ter-dark-color);
    background: var(--ter-light-color);
    outline: 1px solid var(--ter-outline);
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-1);
}
.accordion-content .icon{
    width: 20px;
    height: 20px;
    fill: var(--ter-dark-color);
}
/* HIDDEN CONTENT  */
.adata {
    display: none;
}

.adata.open {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: block;
    border-radius: 0 0 8px 8px;
    margin-top: 1rem;
}

.adata p {
    line-height: 1.8;
}

.adata p span:nth-child(1) {
    display: block;
}

.adata .add_info {
    font-size: 12px;
}

.adata .address {
    line-height: 1;
}

.assign svg {
    width: 25px;
}

/* --PROJECT EXPAND-- */
.adata .project_expand {
    align-items: flex-start;
    margin-top: 2rem;
    grid-template-columns: 4rem repeat(3, minmax(0, 1fr));
}

.project_expand .badge {
    width: 90%;
    /* position: relative; */
}

.adata .project_expand .arrow {
    padding: 0.5rem;
    border-radius: var(--border-radius-1);
}

.adata .project_expand .phead {
    font-weight: 700;
}

.adata .project_expand .architecture .arrow {
    outline: 1px solid var(--primary-outline);
    background: var(--primary-bg);
}

.adata .project_expand .architecture .phead {
    color: var(--primary-color);
}

.adata .project_expand .architecture hr.show {
    outline: 1px solid var(--primary-bg);
    border: none;
}

.adata .project_expand .structural .arrow {
    border: 1px solid var(--secondary-color);
    background: var(--sec-light-color);
}

.adata .project_expand .structural .phead {
    color: var(--secondary-color);
}

.adata .project_expand .structural hr.show {
    outline: 1px solid var(--secondary-color);
}

.adata .project_expand .thrd .arrow {
    border: 1px solid var(--green);
    background: var(--green-light);
}

.adata .project_expand .thrd .phead {
    color: var(--green);
}

.adata .project_expand .thrd hr.show {
    outline: 1px solid var(--green);
}

/* ---------Main Task Status--------- */
.arrow .task-emp-status {
    overflow: visible;
    width: 100%;
}

.task-emp-status .main-btns {
    justify-content: space-between;
    gap: 10px;
    margin-top: 0.5rem;
    flex-wrap: wrap;
}

.task-emp-status .main-btns :is(button, select) {
    flex: 1;
    font-size: 12px;
    font-weight: 600;
    padding: 0 4px;
    height: 30px;
    border-radius: var(--border-radius-1);
    outline: 1px solid var(--primary-outline);
    background: var(--primary-bgr);
    color: var(--primary-color);
    gap: 0;
    justify-content: space-between;
    transition: var(--transition-2);
    cursor: pointer;
}

.task-emp-status .main-btns :is(button, select):hover {
    opacity: 0.8;
}

.task-emp-status .main-btns select.red {
    background: var(--ter-light-color);
    color: var(--ter-dark-color);
    outline: 1px solid var(--ter-outline);
}

.task-emp-status .main-btns select.blue {
    background: var(--sec-light-color);
    color: var(--secondary-color);
    outline: 1px solid var(--sec-outline);
}

.task-emp-status .main-btns select.green {
    background: var(--green-light);
    color: var(--green);
    outline: 1px solid var(--green-outline);
}

.main-btns button:nth-child(2)::after {
    background: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.main-btns button:nth-child::after(3) {
    background: var(--green);
    border: 1px solid var(--green);
}

.task-emp-status .main-btns svg {
    width: 16px;
    fill: var(--white);
}

.main .main-dropdown {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--black-light);
    z-index: 100;
}

.main-dropdown.active {
    display: block
}

.main-dropdown .common_dropdown {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 90%;
    background: var(--white);
    box-shadow: var(--box-shadow-1);
    padding: 8px;
    border-radius: var(--border-radius-1);
}

.main-dropdown ul li {
    border-radius: var(--border-radius-1);
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    margin: 10px auto;
    padding: 10px 16px;
    text-transform: uppercase;
}

.main-dropdown ul li input {
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.main-dropdown .drop-btn button {
    padding: 12px;
    border-radius: var(--border-radius-1);
    font-size: 16px;
    font-weight: 700;
    transition: var(--transition-2);
    margin-top: 1rem;
    flex-grow: 1;
}

.main-dropdown .drop-btn button:hover {
    opacity: 0.8;
}

.main-dropdown .drop-btn button:nth-child(1) {
    color: var(--primary-color);
    background: var(--bg-color);
}

.main-dropdown .drop-btn button:nth-child(1):hover {
    color: var(--white);
    background: var(--primary-color);
}

.main-dropdown .drop-btn button:nth-child(2) {
    color: var(--ter-dark-color);
    background: var(--ter-light-color);
    outline: 1px solid var(--ter-outline);
}

.main-dropdown .drop-btn button:nth-child(2):hover {
    color: var(--white);
    background: var(--ter-dark-color);
}

/* --------BUTTONS COLOR---------- */
.task-emp-status .red>svg {
    fill: var(--ter-dark-color);
}

.task-emp-status .blue>svg {
    fill: var(--secondary-color);
}

.task-emp-status .green>svg {
    fill: var(--green);
}

/* -----------STATUS DROPDOWN MENU ------------- */
.main-dropdown .status-dropdown-menu {
    padding: 8px;
    border-radius: var(--border-radius-1);
    z-index: 105;
    display: none;
}

.main-dropdown .status-dropdown-menu.active {
    display: block;
}

/* ----EMPLOYEE DROPDOWN MENU-------- */
.main-dropdown .emp-drop-menu {
    display: none;
}

.emp-drop-menu.active {
    display: block;
}

:is(.emp-drop-menu, .task-drop-menu) ul {
    height: 50vh;
    overflow: scroll;
    padding: 8px 15px;
    border-radius: var(--border-radius-1);
}

.emp-drop-menu ul {
    background: var(--sec-light-color);
}

.emp-drop-menu ul li {
    background: var(--sec-bg);
    outline: 1px solid var(--sec-outline);
    color: var(--secondary-color);
}

.emp-drop-menu ul li:hover {
    background: var(--white);
}

:is(.emp-drop-menu, .task-drop-menu) ul li input:checked ~ span {
    text-decoration: underline;
}
.main-dropdown .emp-drop-menu button:first-child {
    background: var(--sec-light-color);
    color: var(--secondary-color);
    outline: 1px solid var(--sec-outline);
}

.main-dropdown .emp-drop-menu button:first-child:hover {
    background: var(--secondary-color);
    color: var(--white);
}

/* -------TASK MENU DROPDOWN-------- */
.main-dropdown .task-drop-menu {
    display: none;
}

.task-drop-menu.active {
    display: block;
}

.task-drop-menu ul {
    background: var(--green-bg);
}
.task-drop-menu ul li{
    background: var(--green-bgr);
    color: var(--green);
    outline: 1px solid var(--green-outline);
}
.task-drop-menu ul li:hover{
    background: var(--white);
}
.task-drop-menu ul li input {
    accent-color: var(--green);
}
.main-dropdown .task-drop-menu button:first-child {
    background: var(--green-light);
    color: var(--green);
    outline: 1px solid var(--green-outline);
}

.main-dropdown .task-drop-menu button:first-child:hover {
    background: var(--green);
    color: var(--white);
}
/* -------DEADLINE MENU DROPDOWN-------- */
.main-dropdown .deadline-drop-menu {
    padding: 1rem;
    display: none;
}

.deadline-drop-menu.active {
    display: block;
}

.deadline-drop-menu p {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: 600;
    color: var(--primary-color);
}

.deadline-drop-menu input {
    width: 100%;
    height: 3rem;
    border-radius: var(--border-radius-1);
    background: var(--bg-2);
    outline: 1px solid var(--black-light);
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

/* -------EDIT PROJECT MENU DROPDOWN-------- */
.main-dropdown .edit-menu{
    padding: 1rem;
    display: none;
}
.edit-menu.active{
    display: block;
}
.edit-menu form h4{
    text-align: center;
    color: var(--primary-color);
    text-decoration: underline;
    margin-top: 1rem;
    margin-bottom: 10px;
}
.edit-menu form .edit-grid{
    display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
}
.edit-menu form .field{
    width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.edit-menu form .field label{
        font-size: 12px;
        color: var(--grey);
        font-weight: 500;
}
.edit-menu form .field input,select{
    width: 100%;
  height: 2.5rem;
  border-radius: var(--border-radius-1);
  background: var(--bg-2);
  outline: 1px solid var(--black-light);
  animation: var(--animation-1);
  padding: 0 1rem;
  margin-top: 5px;
  font-size: 1rem;
  word-wrap: break-word;
  font-weight: 500;
}
.edit-menu form .field input:hover{
    outline: 1px solid var(--black-light-2);
}
.edit-menu form .field input:focus{
    outline: 2px solid var(--primary-color);
}
/* -----------------------------------
        SUB-TASKS on add
------------------------------- */
.architecture .sbox {
    outline: 1px solid var(--primary-outline);
}

.structural .sbox {
    border: 1px solid var(--secondary-color);
}

.thrd .sbox {
    border: 1px solid var(--green);
}

.project_expand .sbox {
    padding: 8px;
    margin-top: 8px;
    border-radius: var(--border-radius-1);
}

.project_expand .sbox p {
    color: var(--grey);
    font-size: 12px;
}

.project_expand .sub-tasks ul li {
    font-size: 13px;
    font-weight: 600;
    line-height: 1.5;
    display: flex;
    align-items: center;
}

.sub-tasks ul .add-empl {
    justify-content: space-between;
}

.stasks {
    gap: 10px;
}

.task-deadline {
    justify-content: space-between;
    gap: 0;
}

.task-deadline p:last-child {
    color: var(--black);
}

.add-empl span.icon {
    width: 25px;
    height: 25px;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.add-empl span.icon svg {
    width: 20px;
    fill: var(--primary-color);
}

.assign-to .eaccordion {
    justify-content: space-between;
}

.assign-to .emp-acc-data {
    display: none;
}

.assign-to .emp-acc-data.open {
    display: block;
}

.eaccordion .right-arr {
    width: 25px;
    height: 25px;
}

.eaccordion .right-arr.open {
    transform: rotate(90deg);
}

.architecture .sub-tasks ul li input {
    accent-color: var(--primary-color);
}

.architecture .sub-tasks ul li input:checked~span {
    text-decoration: line-through;
}

.structural .sub-tasks ul li input {
    accent-color: var(--secondary-color);
}

.structural .sub-tasks ul li input:checked~span {
    text-decoration: line-through;
}

.thrd .sub-tasks ul li input {
    accent-color: var(--green);
}

.thrd .sub-tasks ul li input:checked~span {
    text-decoration: line-through;
}

.sub-tasks hr.show {
    margin: 10px auto;
}

/* ---------PAGINATION----------- */
.data-info .info_pagination {
    margin-top: 1rem;
}

.info_pagination .pages ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.pages li {
    display: inline-block;
    color: var(--primary-color);
    background: var(--primary-light-color);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border-radius: var(--border-radius-1);
    margin: auto 5px;
    font-size: 12px;
    font-weight: 600;
    transition: var(--transition-2);
    cursor: pointer;
}

.pages li:is(.active, :hover) {
    background: var(--primary-color);
    color: var(--white);
}

.pages li:is(.active, :hover) svg {
    fill: var(--white);
}