.main .total-amount{
    background: var(--green);
}
.main .total-amount::before{
    content: '';
    position: absolute;
    top: -38px;
    right: -42px;
    width: 100px;
    height: 100px;
    background: hsl(160, 100%, 40%);
    border-radius: 50%;
    z-index: -1;
}
.main .total-amount::after{
    content: '';
    position: absolute;
    top: -42px;
    right: -15px;
    width: 100px;
    height: 100px;
    background: hsl(160, 100%, 40%);
    border-radius: 50%;
    z-index: -1;
    opacity: 0.5;
}
.main .amount_in-bank{
    background: var(--primary-color);
}
.main .amount_in-bank::before{
    content: '';
    position: absolute;
    top: -38px;
    right: -42px;
    width: 100px;
    height: 100px;
    background: hsl(255, 61%, 39%);
    border-radius: 50%;
    z-index: -1;
}
.main .amount_in-bank::after{
    content: '';
    position: absolute;
    top: -42px;
    right: -15px;
    width: 100px;
    height: 100px;
    background: hsl(255, 61%, 39%);
    border-radius: 50%;
    z-index: -1;
    opacity: 0.5;
}
.main .cash_in-hand{
    background: var(--secondary-color);
}
.main .cash_in-hand::before{
    content: '';
    position: absolute;
    top: -38px;
    right: -42px;
    width: 100px;
    height: 100px;
    background: hsl(212, 80%, 42%);
    border-radius: 50%;
    z-index: -1;
}
.main .cash_in-hand::after{
    content: '';
    position: absolute;
    top: -42px;
    right: -15px;
    width: 100px;
    height: 100px;
    background: hsl(212, 80%, 42%);
    border-radius: 50%;
    z-index: -1;
    opacity: 0.5;
}
/* --------FINANCE TABLE------------ */
.data-info .finegrid{
    display: grid;
    grid-template-columns: 4rem repeat(6, minmax(0, 1fr)) 1.5rem;
    align-items: center;
    justify-items: flex-start;
    gap: 10px;
}
.architecture .amount-sub{
    /* display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 8px;
}
.amount-sub span.maka{
    font-size: 10px;
}
.architecture .amount-sub > div{
    padding: 8px;
    border-radius: var(--border-radius-1);
    display: flex;
    flex-direction: column;
    flex: 1;
}
.architecture .flex{
    justify-content: space-between;
}
.architecture .flex .adv-rec{
    display: flex;
    flex-direction: column;
}
.info-content .architecture .fstat{
    background: var(--primary-color);
    margin-top: 8px;
    text-align: center;
    border-radius: var(--border-radius-1);
    font-size: 12px;
    padding: 5px;
    color: var(--white);
}
.architecture .spl{
    background: var(--green-bg);
    /* color: var(--green); */
    outline: 1px solid var(--green-outline);
}
.architecture .sadv{
    background: var(--sec-bg);
    outline: 1px solid var(--sec-outline);
}
.architecture .sblnc{
    background: var(--ter-light-color);
    outline: 1px solid var(--ter-outline);
}
.amount-sub p{
    display: inline-flex;
}
.adata .architecture .spl :is(p.uppercase, p.maka){
    color: var(--green);
}
.adata .architecture .sadv :is(p.uppercase, span.maka){
    color: var(--secondary-color);
}
.adata .architecture .sblnc :is(p.uppercase, p.maka){
    color: var(--ter-dark-color);
}
.adata .architecture .amount-sub p.uppercase{
    font-size: 13px;
    display: flex;
    align-items: center;
}
.amount-sub .teamou{
    color: var(--black);
}
.fdata.open{
    margin-top: 0;
}
.main-dropdown .finance-dropdown{
    background: var(--white);
    padding: 10px;
    border-radius: var(--border-radius-1);
    /* width: 300px; */
}
.main-dropdown .finance-dropdown .flex:not(.drop-btn){
   margin-top: 16px;
}
.main-dropdown .finance-dropdown .flex p{
   width: 100%;
   color: black;
   font-weight: 600;
}
.main-dropdown .finance-dropdown :is(input, select){
    height: 3rem;
    width: 100%;
    border-radius: var(--border-radius-1);
    background: var(--bg-2);
    outline: 1px solid var(--black-light);
    animation: var(--animation-1);
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 500;
}
.main-dropdown .finance-dropdown input:hover{
    outline: 1px solid var(--black-light-2);
}
.main-dropdown .finance-dropdown input:focus{
    outline: 2px solid var(--secondary-color);
}
.totalf{
    position: relative;
}
.totalf span.maka{
    /* width: 15px; */
    /* display: inline-block; */
    /* position: absolute; */
    /* top: 1px; */
    font-size: 10px;
    display: block;
    color: var(--grey);
}
/* ----------------MISCELLANEOUS-------------- */
.data-info .misgrid{
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    align-items: center;
    justify-items: flex-start;
    gap: 10px;
}
/* ------------RESONSIVE KIHINI IYAT LIKHISU DEII-------------------- */
@media only screen and (max-width : 768px){
    .data-info :is(.finegrid){
        grid-template-columns: 1fr;
    }
    .data-info .misgrid{
        grid-template-columns: 1fr 1fr;
    }
}