:root {
    --designation-color: rgb(105, 117, 134);
}

.ucontainer {
    position: relative;
}

.userContainer,
.userform,
.userbox,
.user-profile-settings,
.password-fields {
    background: var(--white);
    border-radius: var(--border-radius-2);
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.uform,
.user-btns,
.userheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.userContainer button {
    padding: 8px;
    border-radius: var(--border-radius-1);
    color: var(--secondary-color);
    background: var(--sec-light-color);
    outline: 1px solid var(--sec-outline);
    font-weight: 600;
    transition: var(--transition-2);
    display: flex;
    align-items: center;
    gap: 5px;
}

.userContainer button:hover {
    opacity: 0.8;
}

.userContainer button svg {
    width: 20px;
    height: 20px;
    fill: var(--secondary-color);
}

/* forms  */
.usform,
.uprofile-settings,
.password-settings {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 100vh;
    background: var(--black-light);
}

.userform,
.user-profile-settings,
.password-fields {
    width: 97%;
    position: absolute;
    top: 2rem;
    right: 1rem;
    left: 1rem;
    /* z-index: -1; */
}

.userform form h4 {
    color: var(--primary-color);
    text-decoration: underline;
}

.userform form .ugrid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
}

:is(.userform form, .profile-details .profile-grid, 
.password-fields) .field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

:is(.userform form, .profile-details .profile-grid, .password-fields) .field label {
    font-size: 13px;
    font-weight: 500;
    color: var(--grey);
}

:is(.userform form, .profile-details .profile-grid, .password-fields) .field input {
    width: 100%;
    height: 3rem;
    border-radius: var(--border-radius-1);
    background: var(--bg-2);
    outline: 1px solid var(--black-light);
    animation: var(--animation-1);
    padding: 0 1rem;
    margin-top: 5px;
    font-size: 1rem;
    word-wrap: break-word;
    font-weight: 500;
}

:is(.userform form, .profile-details .profile-grid, .password-fields) .field input:hover {
    outline: 1px solid var(--black-light-2);
}

:is(.userform form, .profile-details .profile-grid, .password-fields) .field input:focus {
    outline: 2px solid var(--secondary-color);
}

:is(.user-btns, .profile-details .profile-grid,.password-fields) button {
    padding: 12px;
    border-radius: var(--border-radius-1);
    font-size: 16px;
    font-weight: 700;
    transition: var(--transition-2);
    margin-top: 1rem;
    flex-grow: 1;
}

:is(.user-btns, .password-btns) :nth-child(1) {
    background: var(--green-light);
    color: var(--green);
}

:is(.user-btns, .password-btns) :nth-child(1):hover {
    background: var(--green);
    color: var(--white);
}

:is(.user-btns, .password-btns) :nth-child(2) {
    background: var(--ter-light-color);
    color: var(--ter-dark-color);
}

:is(.user-btns, .password-btns) :nth-child(2):hover {
    background: var(--tertiary-color);
    color: var(--white);
}
.password-fields h4{
    color: var(--secondary-color);
}

/* profiles */
.userbox {
    padding: 0;
}

.userheader {
    padding: 1rem;
}

.usersearch {
    width: 200px;
    position: relative;
    /* height: 3rem; */
    border-radius: var(--border-radius-1);
}

:is(.usersearch, .pr-search) input {
    width: 100%;
    height: 2.5rem;
    border-radius: var(--border-radius-1);
    background: var(--bg-2);
    outline: 1px solid var(--black-light);
    padding: 0 1rem 0 2rem;
    font-weight: 500;
}

:is(.usersearch, .pr-search) input:hover {
    outline: 1px solid var(--black-light-2)
}

:is(.usersearch, .pr-search) input:focus {
    outline: 2px solid var(--secondary-color);
}

:is(.usersearch) svg {
    width: 15px;
    position: absolute;
    top: 7px;
    left: 10px;
}

:is(.userbox, .user-profile-settings) hr {
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgb(227, 232, 239);
}

/* users */
.user-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 3rem;
    align-items: center;
    padding: 1rem 2rem;
    transition: var(--animation-1);
}

.user-list:hover {
    background: var(--bg-3);
    cursor: pointer;
}

.user-img img {
    width: 40px;
}

.user-img img.green {
    outline: 3px solid var(--green);
}

.user-img img.red {
    outline: 3px solid var(--ter-dark-color);
}

.user-details :nth-child(1) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.75;
    color: var(--black);
}

.user-profile :nth-child(2) {
    font-size: 12px;
    color: var(--designation-color);
}

:is(.user-contact-info, .user-attendance) p ,.data-status .data-log{
    font-size: 12px;
}

:is(.user-phone, .user-email, .user-attendance) :nth-child(1) {
    font-weight: 400;
    line-height: 1.66;
    color: var(--designation-color);
}

:is(.user-phone, .user-email, .user-attendance) :nth-child(2) {
    font-weight: 500;
    line-height: 1.6;
}
.data-status .data-log{
    font-weight: 500;
    line-height: 1.6;
    width: 80%;
    height: 22px;
    overflow: hidden;
}
:is(.user-status) p,
.profile-status .ustatus {
    /* display: inline-block; */
    padding: 5px 10px;
    border-radius: 20px;
}
.user-status .ustatus{
    display: inline-block;
}
:is(.user-status, .profile-status) p.green {
    background: var(--green-light);
    color: var(--green);
}

:is(.user-status, .profile-status) p.red {
    background: var(--ter-light-color);
    color: var(--ter-dark-color);
}

:is(.user-status, .profile-status) p span {
    font-size: 12px;
    font-weight: 500;
    display: flex;
}
.profile-status .ustatus{
    font-size: 12px;
}
.data-status .log {
    display: inline-block;
    padding: 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 2.5;
    color: var(--designation-color);
}

:is(.user-status) .urstatus {
    font-size: 12px;
    color: var(--designation-color);
    font-weight: 500;
}

:is(.profile-status, .profile-log-out, .profile-log-in) p:first-child {
    font-weight: 600;
    font-size: 14px;
    width: 50%;
}
:is(.profile-log-out, .profile-log-in) p:last-child {
    font-weight: 600;
    font-size: 14px;
    color: var(--primary-color);
}
.user-edit{
    height: 25px;
    width: 25px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    
    margin-top: 10px;
    cursor: pointer;
    transition: all 300ms ease-out;
    overflow: hidden;
    outline: 1px solid hsl(260, 92%, 95%);
}
.user-edit svg{
    fill: var(--primary-color);
    width: 20px;
    display: inline-block;
    margin-left: 2px;
}
.user-edit:hover{
    background: hsl(260, 92%, 90%);
    width: 65px;
}
.user-edit:hover svg{
    margin-left: 0px;
    fill: var(--white);
}
.user-edit:hover a.uicon{
    background: var(--primary-color);
}
.user-edit a.uicon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-edit span.edit{
    /* display: inline-block; */
    font-weight: 500;
    font-size: 13px;
    margin-left: 5px;
    color: var(--primary-color);
}
/* --------------PAGINATION---------------------- */
.info_pagination {
    padding: 1rem;
}

.info_pagination ul {
    display: flex;
    align-items: center;
}

.info_pagination ul li {
    border-radius: 50%;
    color: var(--secondary-color);
    background: var(--sec-light-color);
}

.info_pagination ul li svg {
    fill: var(--secondary-color);
}

.info_pagination li:is(.active, :hover) {
    background: var(--secondary-color);
    color: var(--white);
}

.info_pagination li:is(.active, :hover) svg {
    fill: var(--white);
}

/* ------------USER POPUP-------------- */
.user-profile-settings .userheader button{
    padding: 7px 12px;
    font-weight: 600;
    border-radius: var(--border-radius-1);
    background: var(--ter-light-color);
    color: var(--ter-dark-color);
    outline: 1px solid var(--ter-outline);
}
.user-profile-settings .userheader button:hover{
    opacity: 0.8;
}
.user-profile-settings .flex-box {
    margin-top: 1rem;
}

.user-profile-settings .flex-box {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    /* flex-wrap: wrap; */
}
.profile-details .profile-img{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-img img {
    width: 50px;
}
.profile-img p{
    font-size: 14px;
    color: var(--secondary-color);
    cursor: pointer;
}
.profile-img p:hover{
    text-decoration: underline;
}
.profile-img div{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.profile-img button{
    padding: 5px 12px;
    font-weight: 500;
    border-radius: var(--border-radius-1);
    outline: 1px solid var(--sec-outline);
    background: var(--sec-bg);
    color: var(--secondary-color);
}
.profile-img button:hover{
    background: hsl(206, 28%, 95%);
}
.profile-details .profile-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.profile-grid button{
    background: var(--primary-light-color);
    color: var(--primary-color);
    outline: 1px solid var(--primary-outline);
}
.profile-grid button:hover{
    background: var(--primary-color);
    color: var(--white);
}
.flex-box .profile-details,
.profile-project-details {
    flex: 1;
    width: 100%;
}

.profile-status,
.profile-log-out,
.profile-log-in {
    margin-top: 1rem;
    justify-content: space-between;
}

.profile-project-details .profile-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.profile-main .normal{
    padding: 4px 8px;
    background: var(--primary-light-color);
    color: var(--primary-color);
    font-weight: 600;
    border-radius: 50px;
    font-size: 14px;
}
.profile-main .normal span{
    display: none;
}
.profile-main .profile-main-project{
    display: flex;
    align-items: center;
    /* gap: 5px; */
}
.profile-main .profile-main-project p:first-child{
    font-weight: 600;
    /* font-size: 16px; */
}
.profile-main .profile-main-project p:last-child{
    /* display: block; */
    font-size: 15px;
    font-weight: 500;
}
.profile-main .profile-main-project p.primary{
    padding: 3px 6px;
    border-radius: var(--border-radius-1);
    color: var(--primary-color);
    cursor: pointer;
}
.profile-main .profile-main-project p.primary:hover{
    background: var(--primary-light-color);
}
.profile-main .profile-main-project p.blue{
    padding: 3px 6px;
    border-radius: var(--border-radius-1);
    color: var(--secondary-color);
    cursor: pointer;
}
.profile-main .profile-main-project p.blue:hover{
    background: var(--sec-light-color);
}
.profile-main .profile-main-project p.red{
    padding: 3px 6px;
    border-radius: var(--border-radius-1);
    color: var(--tertiary-color);
    cursor: pointer;
}
.profile-main .profile-main-project p.red:hover{
    background: var(--ter-light-color);
}
.profile-project-menu, .profile-attendance{
    margin-top: 1rem;
    outline: 1px solid var(--primary-light-color);
    padding: 1rem;
    border-radius: var(--border-radius-1);
}
.topper{
    margin-top: 5px;
    font-size: 12px;
    font-weight: 500;
}
.profile-column{
    justify-content: space-between;
}
.profile-column select{
    /* flex-grow: 1; */
    font-size: 12px;
    font-weight: 600;
    padding: 0 4px;
    height: 30px;
    border-radius: var(--border-radius-1);
    outline: 1px solid var(--secondary-color);
    /* background: var(--primary-color); */
    color: var(--secondary-color);
    cursor: pointer;
}
.pr-search{
    position: relative;
}
.pr-search input{
    height: 30px;
    /* width: 50px; */
    padding: 1rem;
    transition: width 300ms ease-out;
    background: var(--secondary-color);
}
.pr-search svg{
    width: 15px;
    position: absolute;
    top: 4px;
    left: 8px;
    fill: var(--white);
    outline: none;
}

:is(.profile-project-menu, .profile-attendance) p.uppercase{
    font-weight: 600;
}
:is(.profile-project-menu, .profile-attendance) hr.line{
    /* margin-bottom: 1rem; */
    margin-top: 1rem;
}
.profile-project-menu .project-column, .profile-attendance .attendance-column{
    overflow: scroll;
    height: 40vh;
    cursor: pointer;
}
:is(.project-column, .attendance-column) p{
    padding: 10px 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
:is(.project-column, .attendance-column) p:hover{
    background: var(--sec-light-color);
}
:is(.project-column, .attendance-column) p span:first-child{
    font-size: 14px;
    display: inline-block;
    width: 80%;
}
:is(.project-column, .attendance-column) p span:last-child{
    font-size: 12px;
    font-weight: 500;
    padding: 5px 8px;
    border-radius: 50%;
}
:is(.project-column, .attendance-column) p span.green{
    background: var(--green-light);
    color: var(--green);
}
:is(.project-column, .attendance-column) p span.red{
    background: var(--ter-light-color);
    color: var(--ter-dark-color);
}


@media only screen and (max-width : 768px) {
    .userform form .ugrid {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .userform{
        width: 90%;
    }

    .main .ucontainer {
        padding: 10px;
    }

    .user-list {
        grid-template-columns: 1fr;
        position: relative;
    }
    .user-details{
        width: 85%;
    }
    .user-status {
        /* display: none; */
        position: absolute;
        top: 1.6rem;
        right: 1rem;
    }
    .user-status .urstatus{
        display: none;
    }
    .user-edit{
        position: absolute;
        bottom: 1.6rem;
        right: 1rem;
    }
    .user-list{
        gap: 0.5rem;
    }
    .user-contact-info, .data-status{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .data-status p:nth-child(odd){
        width: 90%;
    }
    .uprofile-settings{
        height: 155vh;
    }
    .user-profile-settings, .password-fields{
        width: 95%;
        right: 0.5rem;
        left: 0.5rem;
    }
    .user-profile-settings .flex-box{
        flex-direction: column;
        align-items: center;
    }
    .profile-details .profile-grid{
        grid-template-columns: 1fr;
        gap: 0px;
    }
    .profile-grid .field{
        display: inline-block;

    }
    .profile-project-details .profile-main{
        flex-direction: column;
        /* justify-content: unset; */
        align-items: flex-start;
    }
    .profile-main .profile-main-project{
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
    }
    .profile-main .normal{
        border-radius: var(--border-radius-1);
        margin: 10px auto;
    }
    .profile-main .normal span{
        display: inline-block;
    }
}